[2021-03-11 07:24] bzhaoopenstack commented on #2073
@davecramer @vlsi
The VM flavor:

4CPU/8G memory/60G Disk/5M network bandwidth/Ubuntu 18.04

I had installed the docker and docker-compose services, and I saw it download a postgresql docker image automaticlly

This VM locates in Singapore. Hope all things work well. Any thing you want me for help, please feel free to let me know.

Thank you

[2021-03-11 10:15] davecramer commented on #2073
Thanks I did get the connection information. Originally it went into my spam folder

[2021-03-11 10:27] davecramer commented on #2095
@petere your expertise would be welcome here. Could you provide a PR ?

[2021-03-15 06:47] bzhaoopenstack commented on #2073
@davecramer Thanks, should we start to test it recently? Or when we can start to test? ;-)

[2021-03-15 09:47] davecramer commented on #2073
There is already a PR that is running against it. So I am working on it

Dave Cramer

On Mon, 15 Mar 2021 at 02:48, bzhao ***@***.***> wrote:

[2021-03-15 11:54] gallyamb commented on #2078
Yes, that commit fixes the issue. Thank you!

[2021-03-15 12:14] Fzhlib commented on #1975
Hi dave

I also found this problem.
Is it too late to throw this exception in " SQL Command generate" step?
How about throw this error in PgResultSet.isUpdateable(), and throw
_**No primary key found for table**_
instead of
_**syntax error at end of input**_

And here is my solution:
at PgResultSet.java : 1670
`updateable = (i == numPKcolumns);`
change to
`updateable = (i == numPKcolumns) & (numPK

[2021-03-15 12:25] davecramer commented on #1975
makes sense, can you provide a PR ?

[2021-03-15 12:49] Fzhlib commented on #1975
yes,i'm glad to do this.

[2021-03-16 07:22] bzhaoopenstack commented on #2073
@davecramer Thanks, very good news. ;-)

[2021-03-18 05:29] gallyamb commented on #2078
@davecramer  What should I do for that fix being merged?

[2021-03-18 11:00] davecramer commented on #2078
@gallyamb it has been merged

[2021-03-18 13:25] gallyamb commented on #2078
Thanks! Can I close the issue now? Or it will be closed when new version released?

[2021-03-18 13:29] davecramer commented on #2078
No, go ahead and close it
Dave Cramer

On Thu, 18 Mar 2021 at 09:26, Gallyam Biktashev ***@***.***>
wrote:

[2021-03-18 15:39] #2078 closed

[2021-03-20 17:03] cartucciam opened #2102 "Enhanced credentials service to support dynamically retrieved auth tokens (e.g. IAM RDS )"
**New feature request**

Hi All,

I am proposing adding a credentials service to allow for a more sophisticated way to set user credentials. The main use case for this would be solutions like [IAM RDS auth token](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/UsingWithRDS.IAMDBAuth.Connecting.Java.html) where the password is retrieved dynamically at runtime.

The idea would be to add an ea

[2021-03-21 12:41] davecramer commented on #2102
So are you proposing to implement this ?

[2021-03-21 15:38] cartucciam commented on #2102
Yes, I am. I would like to hear opinions from the maintainers as I suspect this has already been discussed since RDS IAM was released a while ago although I couldn't find anything in this repo.

[2021-03-22 10:52] davecramer commented on #2102
Well until we see a concrete implementation there's not much to comment on. In general I'd say it would be a welcome addition.

[2021-03-22 11:12] cartucciam commented on #2102
Thanks Dave, I wanted to rule out this having been discussed already and rejected for some reason before putting together a PR.

[2021-03-22 12:22] #830 closed

[2021-03-23 12:46] Rameshwarnathyadav commented on #1303
Please find the report issus problems.

2021-03-23T16:14:26,219 ERROR AsyncJasperPrintAccessor,pool-6-thread-3:321 - Error during report execution net.sf.jasperreports.engine.JRRuntimeException: java.lang.NoClassDefFoundError: Could not initialize class org.postgresql.util.GT

[2021-03-23 12:46] Rameshwarnathyadav commented on #1303
whats is the solution in the report .

[2021-03-23 12:49] davecramer commented on #1303
don't run out of memory

[2021-03-23 13:07] Rameshwarnathyadav commented on #1303
SO , whats is solution please send me ..
jasper report downloading solution .

[2021-03-24 13:38] dhait opened #2108 "Add progress callbacks to CopyManager"
**I'm submitting a ...**

- [ ] bug report
- [ x] feature request

**Describe the issue**
For very large files, the CopyManager CopyIn from STDIN takes a long time and gives no feedback about the progress of the copy.  For example, the COPY could be blocked or starved by another simultaneous copyIn and we'd never know it.  On other such systems such as SQLServer, you can get a feedback message suc

[2021-03-24 17:00] sehrope commented on #2108
Is this not already possible by keeping tracking of how many bytes you have written to `CopyIn.writeToCopy(...)`?

The high level helpers for copying from an InputStream or a Reader don't stop until they're complete, but if you write to the copy operation yourself, you can control both the exact size of the copy packets (each write is one packet) and perform other work every N operations or bytes.

[2021-03-24 21:16] dhait commented on #2108
Yes, that's possible, essentially that would be creating a helper myself to do the job by calling CopyIn.writeToCopy().  I am suggesting that in as much as I am going to be writing that helper, doesn't it make sense to add it to the existing helper CopyManager, which is documented and more known to the user community?

[2021-03-25 08:43] bzhaoopenstack commented on #2073
So glad that https://github.com/pgjdbc/pgjdbc/pull/2096 is merged, seems all works well. Thank you very much @davecramer

[2021-03-25 11:40] sehrope commented on #2108
I'm hesitant to expand the public surface area of the driver unless it's something that is either part of the JDBC spec or cannot be currently accomplished (e.g. supporting some new Postgres specific functionality).

Can you give an example of the end user interface? There's a lot of different options to track such as elapsed time, byte counts, write count, time between writes, ...  so it seems li

[2021-03-25 12:29] davecramer commented on #2108
@sehrope regarding the contrib repo. Sure, however I want to explicitly say we are not maintaining it. These things become burdens for the maintainers

[2021-03-25 12:40] sehrope commented on #2108
Yes you're right as we'd have to be careful that it doesn't become de facto part of the driver. I'm going to think about it some more and come up with some options for how to structure it, where it'd live, and possible content. It's definitely a recurring problem as a lot of user questions and issues end up being of the form "*How do I ...?*".

[2021-03-25 12:55] davecramer commented on #2073
You're welcome. Thanks so much

[2021-03-25 12:55] #2073 closed

[2021-03-25 13:24] lukaseder opened #2109 "Support Inf as an alias for Infinity"
**Describe the issue**

PostgreSQL supports `'Inf'` as a valid literal for the floating point special value `Infinity`, but the JDBC driver can't seem to read it from CockroachDB

**Driver Version?**

42.2.19

**Java Version?**

Java 8

**OS Version?**

Microsoft Windows [Version 10.0.19042.867]

**PostgreSQL Version?**

PostgreSQL 13.1 (Debian 13.1-1.pgdg100+1) on x86_64-pc-linux-gnu, compiled by

[2021-03-25 14:18] dhait commented on #2108
Here is what I've implemented so far:

[code]
`blockSize` can be in bytes, but a useful variation for text/csv files would be to mimick SQLServer and set a `numberOfLines` parameter and call the callback for each block of lines.

Happy to submit this to the driver or to a contrib repo as you wish.

[2021-03-26 13:01] davecramer commented on #2109
So if I run this against a pg database it works, Not sure what the ask is here ?

[2021-03-26 13:52] lukaseder commented on #2109
I was going to report this issue only to CockroachDB at first, but when I noticed that `'Inf'` is a valid *input* value in PostgreSQL, I thought maybe, it might also be a valid *output* value in PostgreSQL - though I couldn't produce it.

[2021-03-26 14:31] sehrope commented on #2109
I think that's Postel's Law in play. PG will accept either on the inbound as a literal but only output the full `Infinity` or `-Infinity`:

[code]

The docs don't specifically mention supporting `Inf` or `-Inf` though it does show up in the regression tests.

[2021-03-26 14:37] davecramer commented on #2109
There's a lot of those select 'allballs'::time;
   time
----------
 00:00:00
(1 row)

[2021-03-29 08:44] gucki opened #2111 "Setting ApplicationName is not working as expected"
**Describe the issue**
We are running a java (spring boot) and a ruby on rails application in a k8s cluster. Our postgres cluster is only running on k8s  using zalando/postgres-operator too. When a new client connects we want to log the application name of the client. For this we set the ApplicationName in the connection url. For our rails application this works perfectly fine and our postgresql l

[2021-03-29 09:37] davecramer commented on #2111
As per the docs the URL connection parameter is 'ApplicationName' and works as desired AFAIK

[2021-03-29 09:44] gucki commented on #2111
@davecramer Yes, we use this parameter name. That the parameter is respected can ve verified by executing `select application_name, usename from pg_stat_activity`. When using a wrong parameter name (for example we also tried application_name) then the query shows "PostgreSQL JDBC Driver" for application_name. How do you explain the difference in the connection log entry for ruby and java?

[2021-03-29 09:57] davecramer commented on #2111
if ApplicationName is not set in the URL then we use the default which is "PostgreSQL JDBC Driver" as you noted

[2021-03-29 10:01] gucki commented on #2111
@davecramer Yes, but this is also not reflected in the connection log entry (application_name is just missing for jdbc connections, please see my initial message). The question is why the application_name is not contained in the postgresql connection log entry for jdbc connections but is for connections established by ruby (using the pg gem). My assumption: the jdbc driver is perhaps not passing t

[2021-03-29 10:10] jorsol commented on #2111
To set the application_name in the "initial" packet you must also set the property `assumeMinServerVersion >= 9.0`

[2021-03-29 10:32] gucki commented on #2111
@jorsol Thank you, that did the trick! :)

[2021-03-29 10:32] #2111 closed

[2021-03-29 10:34] stuartwdouglas opened #2112 "Single argument version of Class.forName is used to load classes, which can cause problems with non-flat class paths"
Please read https://stackoverflow.com/help/minimal-reproducible-example

**Describe the issue**
Some code in the driver uses `Class.forName(String)` rather than `Class.forName(String, boolean, ClassLoader)` passing in the Thread context class loader as a parameter. This can cause issues for environments where the class being loaded is not in the same ClassLoader as the driver.

**Driver Version?**

[2021-03-29 11:06] davecramer commented on #2111
That isn't documented very well :(

[2021-03-30 13:21] davecramer opened #2114 "Our handling of application name is inconsistent"
Currently we require assumeMinServerVersion to be set to > 9.0 before ApplicationName is sent in the startup packet. However subsequently we check to see the version of the server and if it is > 9.0 we send it in the initial queries

[2021-03-30 13:33] sehrope commented on #2114
I don't think it's inconsistent, it's just trying to accommodate for the common case of the user not specifying the min server version and supplying a value for the application_name after the driver determines the server version supports it. Which is just about all modern servers as it's been in there since 9.0 (Sep 2010).

A breaking change for defaulting assumeMinServerVersion to something like

[2021-03-30 13:46] sehrope commented on #2114
I was curious about that. Just checked and we don't:

https://github.com/pgjdbc/pgjdbc/blob/864facc4128a0bf056616dec13557976ad9882e6/pgjdbc/src/main/java/org/postgresql/core/v3/ConnectionFactoryImpl.java#L828-L834

[2021-03-30 14:00] davecramer commented on #2114
Cool, but it is still very poorly documented. Working on that.

[2021-03-30 14:05] sehrope commented on #2114
Pretty sure that we do. All the code paths are pulling the value via `PGProperty.APPLICATION_NAME.get(info)` so the end result would be the same. Only difference is the multiple commands in the (likely more common) case when we don't know the server version in advance and the slight time in between connection startup and those commands where there's no application name.

[2021-03-30 14:11] davecramer commented on #2114
Not according to https://github.com/pgjdbc/pgjdbc/issues/2111

[2021-03-30 14:20] sehrope commented on #2114
I think there's two separate issues going on in that thread.

If their server side logging is happening at connection creation then it would only include the updated application_name if it's included in the startup packet. If it happens after the fact then they would have already logged the connection before it gets updated via a subsequent `SET application_name = ...` command. That gets fixed by

[2021-03-30 14:25] jorsol commented on #2114
This is the relevant comment:

Basically, the name is set correctly (at a later stage) in the initial queries, but not in the initial packet, he wants to see the name when the application connects to the server (on connection establishment), so the assumeMinServerVersion is needed.

To send the parameters in the initial packet without using assumeMinServerVersion, we could do one of two approaches

[2021-03-30 14:30] bokken commented on #2114
https://github.com/pgjdbc/pgjdbc/pull/2006 removes support for PG < 9.0.
A smaller set of changes would be to remove support for PG < 8.4. (I have played with this locally.)
Only changing to assume >= 9.0 at startup does solve this problem (and eliminates extra query at startup), but does not eliminate any of the optional paths through metadata queries.

[2021-03-30 14:33] sehrope commented on #2114
If your server is <9.0 then not included in startup packet and not sent after.

If your server is >=9.0 and you set `assumeMinServerVersion` then it's sent in the startup packet.

If your server is >=9.0 and you do not set `assumeMinServerVersion` then it's not sent in the startup packet but we'll send it automatically after startup via a separate query because we're able to determine from the ser

[2021-03-30 14:34] davecramer commented on #2114
Right, I think this needs to be documented.

[2021-03-30 14:56] bokken commented on #2102
So the need is basically just a callback to provide the password (and maybe username)?

[2021-03-30 15:13] sehrope commented on #2102
I think we only need it for password. The username is required in the startup packet and the password only comes into play after the server requests password based authentication.

I haven't looked at the wire messages, but from testing this a while back I remember that RDS requires you to be connecting over TLS to use this auth method. I bet that they're sending back an `AuthenticationCleartextPa

[2021-04-01 08:28] cartucciam commented on #2102
yes, this is only for the password and we might want a caching mechanism as it expires after 15 minutes preventing new connections to be instantiated. In the MariaDB driver they went for caching it for 10 minutes.

I have been looking at adding it to the driver but not sure where the project is going, adding an abstraction layer to the credentials to allow different implementations like this to be

[2021-04-06 08:50] nnk-maker opened #2120 "Exception in thread "restartedMain" java.lang.reflect.InvocationTargetException at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method) at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:64) at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43) at java.base/java.lang.reflect.Method.invoke(Method.java:564)"
Exception in thread "restartedMain" java.lang.reflect.InvocationTargetException
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:64)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.ref

[2021-04-06 08:52] jorsol commented on #2120
This is not the spring boot repository.

[2021-04-06 08:52] #2120 closed

[2021-04-06 09:06] nnk-maker commented on #2120
How you are saying this is not a spring boot repository?

[2021-04-06 09:13] davecramer commented on #2120
this github repo is for the postgres jdbc driver. Your stacktrace has nothing to do with pgjdbc

[2021-04-08 14:23] jMediaConverter commented on #1926
Hi, I ran into another problem with the fetch size on driver version 42.2.17. I set the fetch size using the driver property defaultRowFetchSize to 10000. All queries and stored functions worked fine until now when we discovered a function that returns about 160000 records on 50 columns that fails with the following exception:

org.postgresql.util.PSQLException: ERROR: no known snapshots
	at org.p

[2021-04-08 14:37] davecramer commented on #1926
Be useful if you could provide a repeatable test case.

[2021-04-09 07:31] jMediaConverter commented on #1926
I would love to be able to provide you that, but I can not reproduce the problem in any other context. The query has a lot of joins, one thing I noticed is the error code XX000 which according to this doc https://www.postgresql.org/docs/9.6/errcodes-appendix.html is an internal error. This makes me think that maybe the problem is not with the driver, but with postgres itself. We have plans to migr

[2021-04-12 16:13] OrangeDog opened #2121 "Feature: support targetServerType=preferPrimary"
When an application overall needs write access, but could operate usefully with only read access, it would be very useful to be able to specify `preferPrimary` - i.e. connect to a primary if available, otherwise connect to a secondary.

It's not always practical to manage separate `DataSource`s for read and write operations (e.g. in JPA).

[2021-04-12 19:15] davecramer opened #2122 "implement JDBC 4.3"
Evaluate implementing https://download.oracle.com/otn-pub/jcp/jdbc-4_3-mrel3-eval-spec/jdbc4.3-fr-spec.pdf

[2021-04-15 05:36] gallyamb opened #2124 "42.2.20 release date"
Hi! I can't realise when version 42.2.20 with https://github.com/pgjdbc/pgjdbc/issues/2078 fix will be realesed? Can anyone explain/tell me release lifecycle?

[2021-04-15 12:46] davecramer commented on #2124
Hello, currently 42.2.x is in maintenance mode. As such there really isn't a release cycle. That said I see no reason not to release this shortly. I will work on this today or tomorrow

[2021-04-19 04:05] Fzhlib opened #2127 "GT.tr() with {0} placeholder has no argument"
**Describe the issue**
When i was translating the po files, i found the GT.tr("{0} returned no results") in PhysicalCreateSlotBuild.java:62 and LogicalCreateSlotBuilder.java:79 has no argument for {0} placeholder. I have no idea how to reproduce this exception, but it should be like 'org.postgresql.util.PSQLException: {0} returned no results'.

**Driver Version?**
42.2.19
**Java Version?**
jdk1.8.

[2021-04-20 10:45] Tomtomgo opened #2128 "Proposal to add SERIALIZATION_FAILURE to org.postgresql.util.PSQLState"
**I'm submitting a proposal for an addition to `org.postgresql.util.PSQLState`**

- [ ] bug report
- [ x] feature request

**Describe the issue**
Postgres might issue a 40001 state, as described in the documentation: https://www.postgresql.org/docs/current/transaction-iso.html, https://www.postgresql.org/docs/13/errcodes-appendix.html. There is no representation of this 40001 state in `org.postgre

[2021-04-20 10:57] davecramer commented on #2128
Sure go ahead. Don't see why not.

[2021-04-20 12:55] Tomtomgo commented on #2128
Thanks @davecramer, I've created a PR at https://github.com/pgjdbc/pgjdbc/pull/2129.

[2021-04-22 08:34] agatan opened #2130 "When calling Driver.connect multiple times, System.err is closed unexpectedly."
Please read https://stackoverflow.com/help/minimal-reproducible-example

**Describe the issue**
A clear and concise description of what the issue is.

When calling `Driver.connect` multiple times, `System.err` is closed unexpectedly.

**Driver Version?**

42.2.19

**Java Version?**

[code]

**OS Version?**

[code]

**PostgreSQL Version?**

12.6

**To Reproduce**
Steps to reproduce the behaviour:

[2021-04-22 10:40] jorsol commented on #2130
Hi @agatan, would you like to provide a PR with a fix?

[2021-04-22 15:27] rick-r3 opened #2133 "PGBundleActivator class issues on OpenJ9"
`PGBundleActivator` checks the content of the `NoClassDefFoundError` message as the basis of a condition.  In OpenJ9 Java 11 JVMs (https://www.eclipse.org/openj9/) this condition is no longer met and thus does not function.

the condition is:

`msg.contains("org/osgi/service/jdbc/DataSourceFactory")`

Unfortunately OpenJ9 uses the class name with "." separators rather than "/" separators, and so i

[2021-04-22 15:29] davecramer commented on #2133
What is the spec ?

[2021-04-22 15:32] rick-r3 commented on #2133
Of `NoClassDefFoundError` ?

[2021-04-22 15:41] davecramer commented on #2133
where it says how to create the message correctly.

[2021-04-22 15:57] rick-r3 commented on #2133
It does not appear to be specified what the message is anywhere.  The javadocs for `NoClassDefFoundError` only describe it as the "the detail message", with no other specification.

I noted an error in my report which is that it is `ClassLoader.preDefineClass()` (which is called from `defineClass()`) that throws `NoClassDefFoundError` with "." rather than "/" even on hotspot, as it uses the class

[2021-04-23 10:27] jorsol commented on #2124
Released! https://github.com/pgjdbc/pgjdbc/releases/tag/REL42.2.20

[2021-04-23 10:27] #2124 closed

[2021-04-26 02:59] agatan commented on #2130
I tried, but I'm not sure if the fix is correct, so I hope you could review it.

https://github.com/pgjdbc/pgjdbc/pull/2138

[2021-04-26 09:07] bigfacewo commented on #194
You are right! After configuration, the problem is solved temporarily

[2021-04-26 20:35] spencejackson opened #2139 "Driver fails to recognize connection termination notice, resulting in EOFException"
**Describe the issue**
A heavily overloaded Postgresql DB can issue a connection shutdown notification in certain conditions. When it does so, the notification is the last message it sends prior to closing the connection. However, pgjdbc is treating all the notifications as warnings and proceeding to try to read the next message, resulting in an EOFException.

**Driver Version?**
REL42.2.19

**Jav

[2021-04-26 20:54] davecramer commented on #2139
interesting. Can this be replicated in standard postgres ?

[2021-04-26 21:04] spencejackson commented on #2139
I haven't tried it. Our stress testing environment is just using aurora-postgresql.
But that didn't seem particularly relevant to me. I thought the larger issue was handling shutdown notifications as warnings, and just blowing past them.

[2021-04-26 22:37] davecramer commented on #2139
Well the presumption that Aurora RDS functions the same as postgres may or may not be correct.

I suspect this is not easy to solve due to the synchronous nature of the protocol, but assuming it was what are your expectations here ?

[2021-04-27 01:48] spencejackson commented on #2139
The heart of the processResults method is a 'while' loop conditioned on !endQuery.
There are other cases in the switch statement therein that can flip 'endQuery' to false. Why can't this be one of them?
Specifically, if the notification message is for a shutdown, then set endQuery to false.

[2021-04-27 09:57] davecramer commented on #2139
this is actually an interesting problem.
I'm still unsure what you are going to do with this information other than reconnect ?
I'll try to create a test that will recreate the issue today

[2021-04-27 10:12] adelel1 commented on #2133
Hello,
Do you have any update on this issue please.
I have raised a PR for the issue https://github.com/pgjdbc/pgjdbc/pull/2141
Thanks,

[2021-04-27 15:00] spencejackson commented on #2139
You're correct that the only corrective action on the part of the client is to reconnect. The main problem is that the reason for the disconnection, which was provided clearly by the postgres server developers in that notification message, gets lost and is instead  presented to the pgjdbc driver user as an EOFException of unknown origin.

If in the future the driver instead presents the notificati

[2021-04-27 20:48] davecramer commented on #2139
So here's what I figured out. Yes we get the notice. The problem is that we don't read the notice (as you pointed out). It's a little more complex than that. The way postgres works is that the results of the query are sent, then the notice. The driver goes and reads the results of the query and we see the end of the result set and leave. I supposed if before left we check to see if there is a noti

[2021-04-28 09:43] davecramer commented on #2139
So I want to thank you. Interestingly we've not been handling this situation and the driver has not really noticed the problem before. I will be handling the notices, not sure that we will be exiting gracefully as JDBC doesn't require us to actually act on the notice. But they will be there

[2021-04-28 15:13] spencejackson commented on #2139
Glad to contribute, even in this small way.

[2021-05-02 15:04] cdalexndr opened #2145 "Performance: slow PreparedStatement"
Please read https://stackoverflow.com/help/minimal-reproducible-example

**Describe the issue**
When I issue a query using `PreparedStatement` it runs for **12s.**
Using the raw sql with embedded params runs in **700ms** (>12x speedup!).

**Driver Version?**
42.2.20

**Java Version?**
11

**OS Version?**
Windows

**PostgreSQL Version?**
12

**To Reproduce**
Context:

    1. create a temporary tabl

[2021-05-02 15:24] davecramer commented on #2145
can you can show us the analyze for each of these ?

[2021-05-02 16:12] cdalexndr commented on #2145
Note that without using temp table I still see 7x speed diff, so only the select query matters.

[2021-05-02 16:15] cdalexndr commented on #2145
Why is the analyze relevant? Can analyze be different for prepared statement that has same resulting sql as a raw query?

[2021-05-02 18:00] davecramer commented on #2145
yes it can and will be

[2021-05-02 19:17] cdalexndr commented on #2145
Explain analyze:
<details><summary>Prepared statement = 15s</summary>
<p>

[code]

</p>
</details>

<details><summary>Raw statement = 1s</summary>
<p>

[code]

</p>
</details>

[2021-05-02 19:23] davecramer commented on #2145
As you can see this is not a JDBC issue.  Not much we can do to fix it from the client side

[2021-05-02 19:25] cdalexndr commented on #2145
Can I forward it to some other party? Isn't this a valid performance issue?

[2021-05-02 19:39] davecramer commented on #2145
PostgreSQL: PostgreSQL Mailing Lists: pgsql-performance
<https://www.postgresql.org/list/pgsql-performance/>
Dave Cramer

On Sun, 2 May 2021 at 15:25, cdalexndr ***@***.***> wrote:

[2021-05-02 19:45] #2145 closed

[2021-05-04 09:39] adelel1 commented on #2133
Hello, Is there an update on this please? The PR contains my latest update following the comments.
The issue is a showstopper for us, Postgres fails on openj9 with OSGi.
Thanks,

[2021-05-04 09:55] davecramer commented on #2133
Apologies. I'll have a look at this today

[2021-05-08 20:18] vlsi commented on #2133
I've reworked OSGi tests in https://github.com/pgjdbc/pgjdbc/pull/507, and it allows running OSGi tests as a part of pgjdbc test suite.

The takeaways are:
1) There's no need to analyze exception message. The implementation should call `Class.forName("...DataSourceFactory")` and watch for `ClassNotFoundException`. That is reliable

2) The driver should not try to register `DataSourceFactory`. The

[2021-05-09 19:06] #2133 closed

[2021-05-12 12:14] frode-carlsen opened #2147 "Undocumented property logServerErrorDetail does not prevent server error leakage i BatchResultHandler"
**I'm submitting a ...**

- [ x] bug report
- [ ] feature request

**Describe the issue**
The commit https://github.com/pgjdbc/pgjdbc/commit/cd0b555c8045fc71e6f4d0fb0f24a2deb726301e introduced the property logServerErrorDetail to prevent logging of sensitive server errors such as statements with embedded keys etc.

However, when the BatchResultHandler converts PSQLExceptions to BatchUpdateExceptio

[2021-05-13 12:19] sehrope opened #2149 "Simple query mode with non-UTC timezone breaks some tests"
**Describe the issue**
If  simple query mode is enabled (via `preferQueryMode=simple`) and JVM default timezone is not UTC, then there are some failures in GetObject310Test and SetObject310Test:

[code]

That test does a round trip of a timestamp from Java, to the, DB, and back again. I'm not sure the exact cause but it's probably something to do with simple query mode timestamp parameter serializ

[2021-05-13 13:36] akanchasingh25 opened #2150 "jdbc cannot make connection to postgres on cloud"
I have developed a small Spring-mvc sample project using jdbc. I intended to use postgres for which i have used the below settings

[code]
this runs fine on eclipse locally. but when i run the same on docker it gives error

org.springframework.jdbc.CannotGetJdbcConnectionException: Could not get JDBC Connection; nested exception is org.postgresql.util.PSQLException: SSL error: Received fatal alert

[2021-05-13 15:52] sehrope commented on #2150
@akanchasingh25  *You should immediately change the password for that database user. The raw value is in your original message.*

The default SSL handling is to verify the remote certificate and read from the standard libpq locations for the certificate. If the remote server's certificate is not trusted via your JDK's certificate stores then it won't work unless you explicitly add the certificate

[2021-05-13 16:03] akanchasingh25 commented on #2150
Ohh I missed removing it. Have updated my question. Will update my db credentials.
I'll test the way you recommended and get back.

[2021-05-13 17:00] davecramer commented on #2150
Since you are using java 8 why are you using jre7 jar ?

[2021-05-13 18:01] akanchasingh25 commented on #2150
Update postgres dependency and tried with connection properties.

String postgresConnectionURL = "jdbc:postgresql://ea957de9-2271-4d4c-999e-f2c250575850.5pmu4u60g.databases.appdomain.cloud:30352/clouddb";

 Properties info = new Properties();
 info.setProperty("username", "");
 info.setProperty("password", "");
 info.setProperty("ssl", "true");
 info.setProperty("sslmode", "verify-full");
 info.se

[2021-05-14 12:45] davecramer commented on #2150
In order to connect using SSL and verify full you are going to have to provide the client certs as well.

[2021-05-14 12:53] vlsi commented on #2150
No. It is server's `pg_hba.conf` that specifies if server wants to authenticate clients.

`sslmode=verify-full` means the client would verify server's certificate and server's hostname.

[2021-05-14 13:00] akanchasingh25 commented on #2150
Yes even I understood so. But I am providing the root certificate that is present in the db connection details. Still doesn't connect successfully. Any other way I can try this?

[2021-05-14 13:09] vlsi commented on #2150
Well, handshake_failure means Java's SSL layer was not able to establish the connection.
The reasons might be:
1) Wrong Java version. For instance, if you use an outdated Java, then it might miss modern TLS/cypher algorithms which effectively cause "Java can't understand what server sends"
2) Wrong certificates

Have you tried adding `-Djavax.net.debug=ssl,handshake` or `-Djavax.net.debug=all`?
It

[2021-05-14 13:15] vlsi commented on #2150
Please check "Understanding the output of the JSSE trace" at https://stackoverflow.com/a/6353956/1261287

[2021-05-14 15:30] shuiqingliu opened #2153 "Upgrading jdbc causes the Java type of jsonb to change from PGObject to String"
**Describe the issue**
There are many fields of `jsonb` type in our database. These fields were converted to PGObject type before v42.2.13. When I upgraded jdbc to 42.2.20, these fields were converted to String type. Caused a lot of errors.

**Driver Version?**
42.2.20

**Java Version?**
1.8.0_191
**OS Version?**
macOS

**PostgreSQL Version?**
10.4 and 12.4 all tested

**To Reproduce**
1. create t

[2021-05-15 13:09] sehrope opened #2154 "Self hosted runner not clearing docker-compose containers between runs"
The self-hosted ARM action runner is not clearing it's docker-compose containers between states (https://github.com/pgjdbc/pgjdbc/pull/2148/checks?check_run_id=2590269560#step:3:11):

[code]

This isn't an issue for the GitHub provided runners as they always start with an empty environment. Since the self-hosted one is re-using the same environment it's carrying over the test DB server across test

[2021-05-15 13:15] sehrope commented on #2147
Closed by #2148

[2021-05-15 13:15] #2147 closed

[2021-05-17 10:21] davecramer commented on #2150
One thing is to try using psql with that cert. Just to easily confirm that everything is correct.

[2021-05-17 10:48] akanchasingh25 commented on #2150
It connects fine on psql and also through my IDE when i run it locally.. As soon as i move the application to docker i get this handshake exception.
![image](https://user-images.githubusercontent.com/63388379/118476733-87843f80-b72b-11eb-9327-7ad316b10b5d.png)

[2021-05-17 11:02] akanchasingh25 commented on #2150
Using the below now:

Properties info = new Properties();
String url = "jdbc:postgresql://ea957de9-2271-4d6c-999e-f2c250575850.budepemd0im5pmu4u60g.databases.cloud:30352/ibmclouddb";
info.setProperty("user", "");
info.setProperty("password", "");
info.setProperty("ssl", "true");
info.setProperty("sslfactory", "org.postgresql.ssl.SingleCertValidatingFactory");
			// Load the certificate from the cl

[2021-05-17 13:53] akanchasingh25 commented on #2150
I think i found out where the issue might be. I have enabled appSecurity-3.0 in my server.xml file which enables ssl by default.. If i remove this appsecurity dependency i am able to connect to postgres.
We are using ldap to connect to our application and need ssl for authentication but that seems to be causing an issue for postgres connection

[2021-05-17 16:22] daggerok commented on #265
For me spring R2DBC starts work only after this migrations gets applied

[code]

[2021-05-18 04:48] ackarande commented on #1508
Hi,

I am still getting stuck thread even after driver upgrade to postgresql-42.2.20.jar.

The thread is still waiting for ack after failover/switch. Socket timeout is set, however this seems more related to tcp_user_timeout.

Please advise.

"xxxxxxxxxxxxxxx-1" #xxx prio=5 os_prio=0 tid=0x00007f01d1271000 nid=0xab runnable [xxxxxxxxxxxxx]
   java.lang.Thread.State: RUNNABLE
        at java.net.So

[2021-05-18 15:38] arend-von-reinersdorff opened #2157 "Changelog RSS feed is broken"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request

**Context**
The Changelog RRS feed can be found on the Changelog page:
https://jdbc.postgresql.org/documentation/changelog.html
Just above the section "Introduction and explanation of symbols". Direct link:
https://jdbc.postgresql.org/changes.rss

**Describe the issue**
The feed is useless:
* Latest item is from 2012
* Item links go

[2021-05-19 06:51] shuiqingliu commented on #2153
@vlsi

[2021-05-19 11:20] sehrope commented on #2157
The link should be deleted. The RSS file was removed from the www repo (the precursor the docs/ path in this repo) in 2014: https://github.com/pgjdbc/www/commit/352f4711d267137257c2f5f9864b734316853418

I bet the link still working because whatever is deploying the web site is copying the latest www files atop the existing directory on jdbc.postgresql.org's web server. So the stale file has just b

[2021-05-19 12:34] vlsi commented on #2157
Well, an alternative option is to just generate the feed.

[2021-05-19 12:36] davecramer commented on #2157
if someone wants to submit a PR to generate the feed that would be awesome

[2021-05-19 13:49] sehrope opened #2158 "Rare random SSL test failures"
I noticed some random SSL test failures. Out of the many (*many, many, ...*) CI runs I've been kicking off for the recent test cleanup it's only happened a handful of times. I don't think it's worthwhile following up on this yet but making a note here to investigate further later.

Seems like it's a race condition between the socket closing and handling the expected SSL cert error. This most recen

[2021-05-19 14:11] vlsi commented on #2158
Well, we do not control TSL implementation, and what we want to verify there that connection fails.

[2021-05-19 19:28] sehrope opened #2159 "Question regarding "Seed Build Cache" action"
Is this meant to cache the assembly part of the gradle build so it does not need to be repeated in subsequent steps with the same JDK? If so, then should it be part of the main action itself as an initial step or having the entire main action depend on the seed build cache action?

Also, the seed action's matrix includes windows and mac as well. But I don't see anywhere in the build for either of

[2021-05-19 19:42] vlsi commented on #2159
That probably makes sense.
Build cache is populated from main-branch only builds, so adding dependency might help

That is more for developers who happen to build the same (or similar) commits.

[2021-05-20 12:22] sehrope commented on #2159
I'll take a look at marking the dependency. Right now it runs on push to `*` (everything) just like the main CI action so they run in parallel.

Is anyone actually it and how would one use it? I see the bucket name `pgjdbc-gradle-cache` in the gradle configs. Is the bucket public for read-only access?

[2021-05-20 12:25] vlsi commented on #2159
It is read-only for everyone

[2021-05-20 13:41] sehrope commented on #2159
I think I may have mixed up how that action works when running on my fork vs the original. You're right that it's only on pushes to branches. I think it'd make sense to restrict it to working only the original repo only or maybe check if the S3 keys are there as otherwise it's not going to actually save anything.

[2021-05-20 13:54] vlsi commented on #2159
That is fair. seed job should be skipped if the keys are missing

[2021-05-21 19:59] #2159 closed

[2021-05-25 13:04] sehrope commented on #2154
I'm going to try fixing this by adding a `docker-compose down -v --rmi local || true` before starting the containers and and  `always()` step at the end of the job to do the same thing. The before one should handle any unstopped ones and the after one should prevent anything from hanging around afterward so we can move the directories around. Ideally the self-hosted environment would be more isola

[2021-05-25 13:14] davecramer opened #2162 "backpatch fix for issue #2133 into 42.2.x"

[2021-05-25 13:16] davecramer commented on #2150
@akanchasingh25 thanks for letting us know what the problem was.

[2021-05-25 13:16] #2150 closed

[2021-05-26 10:06] maroony commented on #950
@davecramer, @brettwooldridge, @jorsol SquirreL users [have to stick on version 42.2.8](https://sourceforge.net/p/squirrel-sql/bugs/1416/) because of not implementing `java.sql.DatabaseMetaData`. Is there a chance that this will ever be happen?

[2021-05-26 10:17] davecramer commented on #950
@maroony It would have a much better chance if an actual issue describing the problem was created. However it appears that https://github.com/pgjdbc/pgjdbc/pull/1723 needs to be backpatched.

[2021-05-26 10:18] davecramer opened #2164 "backpatch getProcedures into 42.2.x"
back patch https://github.com/pgjdbc/pgjdbc/pull/1723 into 42.2.x

[2021-05-26 10:38] maroony commented on #950
@davecramer Thanks for quick reply. I was searching for an issue and found this one. I'm not really into the details regarding the squirrel-sql issue. Can I do something else or does backpatching #1723 fixing this?

[2021-05-26 11:00] davecramer commented on #950
@maroony backpatching should fix it. But ya know had squirrel actually raised an issue this would have been addressed quite some time ago. :)

[2021-05-31 14:13] davecramer commented on #2162
closed with #2166

[2021-05-31 14:13] #2162 closed

[2021-05-31 15:04] davecramer commented on #2164
This is already done

[2021-05-31 15:04] #2164 closed

[2021-05-31 15:24] sehrope commented on #2154
Mostly fixed by #2163. The containers still don't run in isolation but they now delete the images and volumes at the start and end of execution so it's a clean slate each time. Should be fine until we decide to add other container based tests.

[2021-05-31 15:24] #2154 closed

[2021-05-31 15:27] sehrope commented on #2158
Closed by #2167

[2021-05-31 15:27] #2158 closed

[2021-06-01 09:14] azeroual2017 opened #2169 "I can't open a new connection to the database after a success connection (Azure)"
**Describe the issue**
We use Azure Managed PostgreSQL (11). I connect successfuly to the database from spring boot application. While connecting i disable GSS Encryption (gssEncMode=disable)

But after approximately 15 minutes all the other connections are blocked, and we can't connect from another app. we get the following error : **FATAL:  authentication failed for user "****": too many failed

[2021-06-01 09:50] davecramer commented on #2169
Not sure how we can help you here. I have no way to reproduce this.

Pretty sure if you just use a simple program without spring this will not happen

[2021-06-01 10:28] azeroual2017 commented on #2169
Thanks for you reply.
We have other applications (without spring)  that open connections to database and they don't generate this issue. we have observed this problème only after migration from JAVA 8 to JAVA 11 (openJDK). it's work fine with JAVA 8 and pgjdbc 42.2.14

[2021-06-01 10:59] davecramer commented on #2169
Given that other apps don't have this issue what makes you think it is the driver ?

[2021-06-01 11:21] azeroual2017 commented on #2169
Because we get this issue just after starting spring app that use jdbc to connect to the database. when others apps are starting we don't have any issue. this bug is observed only when spring app is connected to PostgreSQL 11 on Azure, in others setups (environnements) it works fine.

[2021-06-01 11:28] davecramer commented on #2169
Well as I said I have no way of replicating this. You could try turning on logging on the driver. Not sure how difficult that will be in Spring. https://jdbc.postgresql.org/documentation/head/connect.html#connection-parameters see logging.

[2021-06-01 11:30] jorsol commented on #2169
It's not clear that the issue is from the driver, why do you think is a driver issue and it's not a middleware (spring boot) or a connection pool issue? what are other "environments"?

The message "too many failed login attempts" might easily be a misconfiguration somewhere, have you tried to reproduce the issue with the same app with a local Postgres instance?

[2021-06-01 13:23] azeroual2017 commented on #2169
The message "too many failed login attempts" we get it after approximately 15 mins of starting Spring app. This Spring app work fine but when we try to open a new connection from another app we get the previous error.

Other "environments", i mean environnements without azure connection.

With local Postgres instance we don't have this issue. it's only oberved when this Spring app connects to Post

[2021-06-01 13:36] davecramer commented on #2169
Well I am pretty sure nobody else has this issue with the driver, so I'd start looking somewhere else. Let us know what you find

[2021-06-01 23:24] davecramer commented on #950
@maroony I looked at this and I don't see any issues in the driver

[2021-06-03 13:16] davecramer commented on #2139
closed by #2143

[2021-06-03 13:16] #2139 closed

[2021-06-04 12:25] xiaodiwangjie commented on #1508
@ackarande 我也遇见了相同的问题，你解决了吗？

[2021-06-07 14:41] davecramer opened #2173 "getProcedures, getFunctions should find all procedures/functions if schema is null"
The spec says that getFunctions/getProcedures should not be limited to the current schema if schema is null

Currently we limit it to the search_path

[2021-06-07 14:41] davecramer commented on #2173
Squirrel related issue https://sourceforge.net/p/squirrel-sql/bugs/1416/

[2021-06-07 15:35] sehrope commented on #2173
I have a branch that fixes this. The fix itself is just removing those two filters so the bulk of it is updating the tests to reflect the change in behavior. Once it cycles through CI I'll open a PR for it.

[2021-06-07 15:39] davecramer commented on #2173
OK, I was going to create a PR but I'll leave it for you

[2021-06-07 15:54] davecramer commented on #2173
Looks like the tests need a fair bit of work.

[2021-06-10 21:23] tpcmurray opened #2177 "Driver truncating long statements on MacOS Big Sur 11.4"
**Describe the issue**
After upgrading several Macbook Pro devices to Big Sur 11.4, long SQL strings (> 65839 chars) fail.

[code]

Wireshark seems to indicate the full string isn't being sent to postgres, which lines up with the above message.

**Driver Version?**
42.2.21, 42.2.20

**Java Version?**
8

**OS Version?**
Big Sur 11.4 <- important change. something in this update breaks your driver

[2021-06-10 21:56] davecramer commented on #2177
My first inclination is to say that if the only thing that changed was the version of macos then that would be where one should look.

[2021-06-10 22:56] tpcmurray commented on #2177
I don't disagree, as I mentioned above something in 11.4 is causing this problem. However, I can't imagine much of anything would come from contacting Apple with a description of how a pgjdbc driver is somehow truncating SQL being sent to postgres since 11.4. If there is something that can change in the pgjdbc code to adapt to 11.4, that's likely to see release considerably sooner.

I'm also inter

[2021-06-10 23:07] tpcmurray commented on #2177
Minor update: when we run the recreation code on any Big Sur 11.4 laptop that also has postgres local, we see the problem. If we run the same code talking to a postgres install in an Ubuntu VM, it works fine.

[2021-06-11 00:11] davecramer commented on #2177
I can try to replicate this tomorrow, but pretty sure this is a big sur problem

[2021-06-11 11:33] #2173 closed

[2021-06-11 12:36] davecramer commented on #2177
@tpcmurray just tried to replicate locally on my machine and was unable to.  Did you close this on purpose ?

[2021-06-11 13:16] jerometerry commented on #2177
I was also unable to reproduce this on a 2014 Mac Air running Big Sur 11.4. My guess is something environmental on your Mac is somehow causing this, e.g. security software. I don't have any prior experience with security causing a query to a postgres database fail like this, so this is just pure speculation.

[2021-06-11 14:02] bokken commented on #2177
@davecramer I think you might have closed this on accident.

@tpcmurray, are you saying that wireshark of loopback shows full data not being sent on wire?
That /seems/ like it could be something not playing nicely between java and OS.

[2021-06-11 14:06] tpcmurray commented on #2177
@bokken I work with @jerometerry and was part of the test he mentioned above (he likes to troll me). We found a case of 11.4 working fine on a non-corporate laptop and suspect a piece of required corporate software is causing this problem for our wider team. This issue can be closed, sorry for the noise.

[2021-06-11 14:09] #2177 closed

[2021-06-11 20:58] jaGarcia commented on #2177
Just spent the past two days banging my head against this issue until I just found this thread. Experiencing the same thing on our big sur dev laptops

[2021-06-11 21:04] jerometerry commented on #2177
We have confirmed that disabling anti-virus software on Big Sur versions 11.3. and 11.4 prevents this issue from happening. Disabling antivirus software may not even be possible for some companies. The workaround that we have found is to run Postges inside a Ubuntu VM, until a proper fix can be found.

[2021-06-11 21:16] jaGarcia commented on #2177
Is there another open issue tracking the need for a proper fix?

[2021-06-11 21:22] jaGarcia commented on #2177
I'm not sure which step it was but I manually killed the norton process in Activity Monitor (which it promptly restarted), then I flipped these toggles off and back on and now it's working. smh. this is super weird. I'm on Big Sur 11.4

![Screen Shot 2021-06-11 at 5 21 07 PM](https://user-images.githubusercontent.com/354362/121749885-6a981d80-cad9-11eb-8969-b0c6de2d8b86.png)

[2021-06-11 21:26] jerometerry commented on #2177
We are not aware of any other bug reports that match this issue. We know that the Big Sur upgrade has several known issues, and some impacting a variety of vendors. If we find a root cause, we'll be sure to post it.

[2021-06-11 21:33] jaGarcia commented on #2177
@jerometerry I see. Which anti-virus software were you using that exposed the issue on your end?

Following on to my comment about the Norton toggles, I've also found that I have to flip the toggles every time the server restarts locally.

[2021-06-14 14:39] #2130 closed

[2021-06-14 20:34] poirierlouis opened #2180 "Slow query response time when using version 42.2.21"
**Describe the issue**
When querying, the time took to respond is very long / slow comparing to older versions (42.2.20 / 42.2.6).
While using the driver through a web application using Play and Hibernate, response time goes from ~7 seconds to ~36 seconds.

**Driver Version?**
42.2.21

**Java Version?**
java version "1.8.0_291"
Java(TM) SE Runtime Environment (build 1.8.0_291-b10)
Java HotSpot(TM)

[2021-06-14 20:38] davecramer commented on #2180
Awesome, looking forward to the details.

[2021-06-15 09:40] davecramer commented on #2180
Strange, the is the second time I've closed an issue by mistake

[2021-06-15 12:06] davecramer commented on #2180
So I looked at the changes and the only possible change that might impact performance is https://github.com/pgjdbc/pgjdbc/commit/4fa2d5bc1ed8c0086a3a197fc1c28f7173d53cac and I can't see how...

[2021-06-16 08:56] asaarnak commented on #2180
Using 42.2.21 running our 300+ unit tests takes 3+ mins, using 42.2.20 it takes 1+ mins.

[2021-06-16 09:19] mroloux commented on #2180
We're having the same issue. Our builds slowed down a lot with 42.2.21. And even on production, query times went up.

[2021-06-16 09:37] genamiga opened #2182 "postgresql-42.2.21 much slower in batch updates"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request

**Describe the issue**
A clear and concise description of what the issue is.
Last driver is +- 10x slower than postgresql-42.2.19 (last driver version I used in production) when using preparedStatement.executeBatch() after 50000 preparedStatement.addBatch()
**Driver Version?**
postgresql-42.2.21
**Java Version?**
1OpenJDK16U-jre_x64

[2021-06-16 10:09] davecramer commented on #2182
This is the same as Issue #2180 please continue there

[2021-06-16 10:09] #2182 closed

[2021-06-16 10:11] davecramer commented on #2180
Can someone turn logging on and get some logs ? Or give me a repeatable test case

[2021-06-16 12:20] davecramer commented on #2180
@mroloux @asaarnak are you both using SSL connections ?

[2021-06-16 12:24] mroloux commented on #2180
Yes, I'm using SSL (on a Heroku database).

[2021-06-16 12:28] davecramer commented on #2180
Thanks, I know what the issue is. Fixing it may take some time, in the meantime downgrade to 42.2.20

[2021-06-16 12:34] mroloux commented on #2180
Thanks 👍

Op wo 16 jun. 2021 om 14:28 schreef Dave Cramer ***@***.***>:

[2021-06-16 13:08] davecramer commented on #2180
So there is no "simple" solution to this and keeping https://github.com/pgjdbc/pgjdbc/commit/4fa2d5bc1ed8c0086a3a197fc1c28f7173d53cac I will have to revert this commit and release a new version.

[2021-06-16 14:47] poirierlouis commented on #2180
Thank you 👍
Sorry I couldn't provide a clear example. It's great that you found it quickly.

[2021-06-16 15:13] davecramer commented on #2180
before I release this, can you confirm that this https://oss.sonatype.org/content/repositories/orgpostgresql-1273/org/postgresql/postgresql/ fixes it ?

[2021-06-16 15:40] poirierlouis commented on #2180
Works just fine with this release on my environment 👌

[2021-06-16 15:42] davecramer commented on #2180
@poirierlouis thanks for testing it.

[2021-06-16 16:04] MrEasy commented on #2180
@davecramer quick test on my side also shows lower execution times again with .22 👍🏻

[2021-06-16 18:45] #2180 closed

[2021-06-17 19:13] davecramer opened #2184 "common.sh seems to be missing"
@sehrope this references /custom/scripts/common.sh Is there something missing ?
https://github.com/pgjdbc/pgjdbc/blob/d78059a529942d9a3509132e7fd2cb61efb94a48/docker/postgres-server/scripts/entrypoint.sh#L4

[2021-06-17 19:39] sehrope commented on #2184
No, that path is within the filesystem of the docker container. The scripts directory gets mounted read-only to `/custom/scripts` in the compose file:

https://github.com/pgjdbc/pgjdbc/blob/d78059a529942d9a3509132e7fd2cb61efb94a48/docker/postgres-server/docker-compose.yml#L11-L13

[2021-06-17 19:46] davecramer commented on #2184
this is failing https://github.com/pgjdbc/pgjdbc/pull/2181/checks?check_run_id=2850924039 with can't find common.sh

[2021-06-17 20:06] sehrope commented on #2184
I tried a dummy commit just now and it ran into the same issue: https://github.com/sehrope/pgjdbc/runs/2852568720?check_suite_focus=true

The omni run from this morning has some of the matrix failing with similar errors as well: https://github.com/pgjdbc/pgjdbc/runs/2846057328?check_suite_focus=true

But it's not uniform. About half of them ran through just fine.

I'm not sure the cause but I thin

[2021-06-17 20:16] sehrope commented on #2184
Okay I figured this out. The latest PG docker containers change the name of the default entry point. The reason for the random failures is that the older container versions must be cached on some of the machines.

You can reproduce this locally via:

[code]

I'll look into fixing this.

[2021-06-17 20:29] davecramer commented on #2184
That's not nice. I guess we need to use our own docker containers for postgres

[2021-06-17 20:31] sehrope commented on #2184
Yes it's definitely annoying. Fix wasn't too bad. Once #2185 gets past the startup piece I think it'd be good to merge it and fix CI again.

[2021-06-17 21:00] sehrope commented on #2184
Closed by #2185

[2021-06-17 21:00] #2184 closed

[2021-06-23 12:46] davecramer opened #2188 "Numeric precision should not be 131089"
In the case where numeric precision is not specified in the type ie numeric(8,2) we are currently returning the display size which is certainly incorrect.

https://github.com/pgjdbc/pgjdbc/blob/7aea51322293a8eaae5e75e5ec5f7eff3eecb863/pgjdbc/src/main/java/org/postgresql/jdbc/PgDatabaseMetaData.java#L1650

I'm inclined to fix this and backpatch it as it is a bug, however I'm a little concerned at b

[2021-06-25 15:27] sehrope opened #2190 "Procedure OUT parameter changes in core breaking tests on HEAD"
The omni action has a build for the HEAD revision of PG server. It's marked as experimental so that any breaks there don't count as overall failures.

It's been failing for two weeks now due to some changes with how procedure metadata is handled: https://github.com/pgjdbc/pgjdbc/runs/2911504420?check_suite_focus=true#step:8:267

The last success was 15 days ago: https://github.com/pgjdbc/pgjdbc/ac

[2021-06-27 13:49] sehrope opened #2191 "Test cert expiration broke CI"
A couple of the TLS certs expired and broke the SSL tests: https://github.com/sehrope/pgjdbc/runs/2924027737?check_suite_focus=true#step:11:39895

[code]

I'll open a PR for this.

[2021-06-27 20:20] #2191 closed

[2021-06-28 00:47] emotionbug commented on #2153
This seems to be the intended change. ( https://github.com/pgjdbc/pgjdbc/pull/1879 )

[2021-06-28 12:11] davecramer opened #2193 "Refresh row causes current row to be readonly"
This was reported on the list

[code]

[2021-06-28 14:11] prasanthreddy-git opened #2194 "Exception in thread "main" java.lang.IllegalArgumentException: Attempted > to write to readonly tuple"
When updating a resultset the second time, after a refresh row causes an exception.

Driver Version: 42.2.11 and above
Java Version: 1.8.0.292
OS Version: CentOS 8
PostgreSQL Version: 12

import java.sql.Connection;
import java.sql.Date;
import java.sql.DriverManager;
import java.sql.ResultSet;
import java.sql.SQLException;

public class RowSet {

	public void test () throws SQLException, ClassNot

[2021-06-28 17:53] prasanthreddy-git commented on #2194
If rs.absolute(rownumber) is called after refreshRow() call then the exception does not occur.

[2021-06-28 18:08] davecramer commented on #2194
So, yes, I can replicate this, and will fix it, however you should be aware that refreshRow causes a round trip to the db.

[2021-06-28 18:10] prasanthreddy-git commented on #2194
yes, the intent of the refresh is to get any defaults from database after inserting a row.

[2021-06-28 18:43] davecramer commented on #2194
duplicate of #2193

[2021-06-28 18:43] #2194 closed

[2021-06-28 19:49] maffe commented on #1551
[Maven Central](https://search.maven.org/search?q=g:org.postgresql%20AND%20a:postgresql) still shows the `.jre7` JAR as the latest release.

Also the `.jre7` JAR shows up as an update in `org.codehaus.mojo:versions-maven-plugin:2.8.1:display-dependency-updates`:

[code]

The project now uses Gradle (#1440), does this mean it’s now possible to fix the [metadata](https://repo.maven.apache.org/maven2

[2021-06-28 22:28] chalmagr opened #2196 "ResultSet should be updateable when using a Unique Key instead of a Primary Key (null columns)"
**I'm submitting a ...**

- [X] bug report
- [X] feature request

**Describe the issue**
When attempting to update a table which has Unique Key (but not Primary Key due to nullable columns) using the ResultSet the Missing primary key exception is thrown. Unique keys should be accounted for as well as Primary Keys when marking a  ResultSet as updateable or not.

**Driver Version?**
42.2.20

**Java

[2021-06-28 23:58] bokken commented on #1551
IIRC, the versions maven plug-in is simply using maven’s semantic
versioning rules.
Additional segments on the version are judged to be “newer”.

On Mon, Jun 28, 2021 at 2:49 PM maffe ***@***.***> wrote:

[2021-06-29 03:44] WildGooseSouth opened #2197 "How to check whether the sql execution sucessed or failed in the DB server side?"
Please read https://stackoverflow.com/help/minimal-reproducible-example

**Describe the issue**
Because we will restart the DB, maybe some sql execute fail during the restart command. So we want to catch the execution failed SQL and retry it again.  But when we catch the **SQLException** error info, we find some sql have executed successful in the DB.  The more deatil information is in follows.

*

[2021-06-29 12:22] davecramer commented on #2197
Actually I'm a little puzzled by what happens if you set the connection to autocommit after createing the statement.

Is it possible for you to get a log from the database ?

[2021-06-29 12:48] WildGooseSouth commented on #2197
I set the log_min_duration_statement=0, so can see the all execute SQL in the log.
The following is one sql exection log.
[code]
Through the log, we can see the process 25582 execute the SQL successfully, but also get an error message when execute the COMMIT statement. And the client side get the error info as
[code]
And I can query the value in the DB
[code]
The reason why I test this is because

[2021-06-29 12:54] davecramer commented on #2197
Thanks. This is very intriguing. Leave it with me

[2021-06-29 13:07] davecramer commented on #2197
When I ran it, it stopped at the right place...

[2021-06-29 13:10] WildGooseSouth commented on #2197
I run it with cycle. And searching the "commit" info into the output.

[2021-06-29 13:47] davecramer commented on #2197
Ok, I rewrote your code to be a bit more idiomatic and I have trouble making it fail
[code]

[2021-06-29 14:01] WildGooseSouth commented on #2197
I run with two putty window ，one run the Java script ,and another one run the shell command to restart the DB.

Then I'll check the java script output info, checking whether exists **commit** keywords.

[2021-06-29 14:10] jie-d commented on #1948
+1 to the above question. 42.2.22 which was released two weeks ago still doesn't seem to contain this fix. Can we possibly include it in one of the upcoming releases? @davecramer

[2021-06-29 14:20] sehrope commented on #2197
This is likely a race condition between the server processing the COMMIT and it notifying the client of the immediate shutdown. The order of operations is something like:

1. Server processes BEGIN
2. Notifies client BEGIN succeeded
3. Server processes INSERT
4. Notifies client INSERT succeeded
3. Server processes COMMIT
4. Server shutdown initiated
5. Server notifies client of shutdown

The serve

[2021-06-29 14:37] davecramer commented on #2190
Ok, I'm thoroughly confused. If I run this locally on REL_14_STABLE the test passes unchanged. I am also having issues finding where they changed the return code in the postgres commit

[2021-06-29 14:52] sehrope commented on #2190
Probably this: https://github.com/postgres/postgres/commit/e56bce5d43789cce95d099554ae9593ada92b3b7#diff-f44a75499bddce337f88d9095f3613e1015922b8ed446c6ef30381f3238f93e7R313-R323

I just tried running this test against a fresh source container (via `docker/bin/postgres-head`) and I'm able to reproduce it:

[code]

[2021-06-29 14:59] sehrope commented on #2190
Removing the PG 14 overrides makes it pass on my end so I'll open a PR for it.

[2021-06-29 15:04] davecramer commented on #2190
nm, I found my personal issue.... thanks

[2021-06-29 18:09] maffe commented on #1551
I fixed the versions plugin by ignoring the JRE6/7 artifacts with the following ruleset:
[code]
Unfortunately it’s [not possible](https://github.com/mojohaus/versions-maven-plugin/issues/258) to put these rules directly in a POM. See [this answer](https://stackoverflow.com/questions/26120704/maven-versions-plugin-reference-a-rule-xml-from-a-maven-dependency/56003380#56003380) for how to reference

[2021-06-29 18:13] vlsi commented on #1551
I guess there are two approaches here:
a) just drop jre6/jre7 and make it the only "backward-incompatible change for 42.3.0"
b) move jre6/jre7 suffix to the classifier

[2021-06-29 18:31] davecramer commented on #1551
I'm liking option a) above, then we can move forward with some things.

[2021-06-29 19:57] #2190 closed

[2021-06-30 01:09] WildGooseSouth commented on #2197
Yeah, I think the problem may be caused by the restart command, which will try to abort transaction and exit at soonest convenient time. I think this case is more common in practice.

If using INSERT ... ON CONFLICT DO NOTHING to rework, it must have primary key or any other unique constraints. But we also have update SQL.

[2021-06-30 11:39] maffe commented on #1846
Is this file still needed? https://github.com/pgjdbc/pgjdbc/blob/master/pgjdbc/src/main/java/org/postgresql/jre7/sasl/ScramAuthenticator.java

[2021-06-30 11:51] davecramer commented on #1846
Only for jre7

[2021-06-30 12:43] davecramer commented on #2196
This will introduce some performance issues, as we now have to fetch unique keys as well. Is there documentation in the API to support this ?

[2021-06-30 14:47] jorsol commented on #1846
Yes, is needed for jre7+, the package name might now be misleading but this is used for Scram Authentication.

[2021-06-30 15:41] dsgoers commented on #2177
I have this issue too.  Java 8, driver 42.2.22, PostgreSQL 13.3, Big Sur 11.4.  However, like others, I haven't reproduced it in any of our servers running Ubuntu.

[2021-06-30 16:13] davecramer commented on #2177
Pretty sure this is macos problem

On Wed, Jun 30, 2021, 11:41 AM Daniel Goers ***@***.***>
wrote:

[2021-07-01 01:01] chalmagr commented on #2196
There is no restriction on the API of ResultSet that require the PK of the table to allow updateRow to be called ([JDK 11 Reference](https://docs.oracle.com/en/java/javase/11/docs/api/java.sql/java/sql/ResultSet.html#updateRow())

In other methods there are references to [java.sql.RowId](https://docs.oracle.com/en/java/javase/11/docs/api/java.sql/java/sql/RowId.html) which would probably help remo

[2021-07-01 07:50] shuiqingliu commented on #2153
maybe, but this change affects all jsonb type data. When querying data from the database, the original jsonb type column is pgobject and then becomes a string, causing many business exceptions.

[2021-07-01 12:49] davecramer commented on #2196
Fair enough. I can see us extending it to Unique columns, however you should be aware that all the RowId functions are not implemented in PostgreSQL because the server does not provide a row id

[2021-07-01 15:09] davecramer commented on #2197
Nothing to fix on our end

[2021-07-01 15:09] #2197 closed

[2021-07-02 14:08] mmimica commented on #2033
[code]
Opening a connection takes a lot of time. Connections are supposed to be reused so it's not an issue.
You should simply start measuring after this line.

[2021-07-02 14:12] davecramer commented on #2033
Not to mention that currentTimeMillis is not monotonic. Use System.nanoTime()

[2021-07-02 18:46] davecramer commented on #2153
Yes, this should not have been changed in 42.2.x

[2021-07-02 22:00] mgrobaker commented on #2060
Could you elaborate on this a little? I am working on this as my first issue. I have got everything running locally and am now in this test class.

Two questions off the top of my head - but feel free to add extra color as well
1. Are there existing tests already in here that I can use as a basis for testing the views and foreign tables? Or is that part of the issue, coming up with such tests.
2.

[2021-07-02 23:21] sehrope commented on #2060
That PR fixed a bug where the `getTablePrivileges(...)` metadata method was only returning results for tables and partitioned tables, but not views, materialized views, and foreign tables. The fix included all of those relation types but the additional test only covered views with the new `testViewPrivileges()` method.

The PR I'm suggesting someone create would be two parts:

1. Add `testMaterial

[2021-07-03 13:48] mgrobaker commented on #2060
Got it, thanks - this is clear now

[2021-07-04 13:29] fredericBregier opened #2204 "Maven jar is broken for jre6 in version 42.2.22."
Please read https://stackoverflow.com/help/minimal-reproducible-example

**Describe the issue**
Maven jar is broken for jre6 in version 42.2.22.
See https://mvnrepository.com/artifact/org.postgresql/postgresql/42.2.22.jre6

**Driver Version?**
42.2.22.jre6

**Java Version?**
All

**To Reproduce**
Use a Pom or Gradle configuration to get the 42.2.22.jre6 version which is only 1KB

**Expected behavi

[2021-07-04 13:46] sehrope commented on #2204
Yes something is not right with the jre6 jars. There's nothing in there besides the manifest:

[code]

@davecramer Any ideas?

[2021-07-04 14:00] davecramer commented on #2204
I'll have a look. I'd really like to get rid of JRE6 ...

[2021-07-04 15:34] davecramer commented on #2204
at this point I'd probably just release .23

[2021-07-05 18:23] davecramer commented on #2188
closed by #2189

[2021-07-05 18:23] #2188 closed

[2021-07-05 18:24] davecramer commented on #2193
closed by #2195

[2021-07-05 18:24] #2193 closed

[2021-07-06 08:17] trecloux opened #2208 "Should isValid() check targetServerType ?"
**I'm submitting a ...**
- [ ] bug report
- [x] feature request

**Describe the issue**
In my understanding, the `targetServerType` parameter is used at connection time to validate that the newly created connection fits the constraint and is not used during the life of the connection.

My concern is that the instance we are connected to could be promoted or demoted to an other role.
The initial `t

[2021-07-06 12:38] davecramer commented on #2208
interesting as someone brought up a similar idea about notifying clients when servers were promoted. Since there is no real way to do this using the current protocol I would argue that this should be done by whatever tool you are using to do the promotion and then subsequently notify the app. I do not believe that it should be the client (JDBC) problem.

[2021-07-06 14:07] vonzshik commented on #2208
PostgreSQL does notify clients whenever `default_transaction_read_only` or `in_hot_standby` are changed via `ParameterStatus` since [Postgresql 14](https://www.postgresql.org/docs/14/protocol-flow.html#PROTOCOL-ASYNC).

[2021-07-06 14:11] davecramer commented on #2208
Thanks, good stuff! Now we need 14 to come out.
Dave Cramer

On Tue, 6 Jul 2021 at 10:08, Nikita Kazmin ***@***.***> wrote:

[2021-07-06 15:12] mgrobaker commented on #2060
Opened the PR. As you suggested, it just adds `testMaterializedViewPrivileges()`

I can take a pass at `testForeignTablePrivileges()` as well. Just let me know if that will be in a new issue. If I can't figure it out then I'll have to leave for someone else.

[2021-07-06 22:11] rbygrave commented on #2208
There are cases where the promotion is automatically done and clients are not notified (say AWS RDS).  I believe this proposal would be very good for this case and my thinking is that this is a fairly common case (where client are not explicitly notified)?

As I think of it, for clients to be notified they would need a dedicated listener for that notification right?  It looks like with Postgres14

[2021-07-06 22:23] davecramer commented on #2208
The biggest issue I have with this is that isValid is boolean, and the API states

```Returns true if the connection has not been closed and is still valid.```

The proposal is to make it mean that it is valid if it is open and writeable, which is not what the spec says and there is a perfectly good option since there is a method `isReadOnly` which if you combine with isValid and !isReadOnly provi

[2021-07-06 23:27] rbygrave commented on #2208
Not quite I think in that it is more that a connection is valid if:
- it is open and **the targetServerType has not changed**

So a read only connection is still talking to a read replica instance, a read write connection is still talking to a read write instance. Connections are valid if they are not closed and the targetServerType has not changed since they were first created.

---

Now I might

[2021-07-07 06:09] fredericBregier commented on #2204
That seems fixed! Thank you !
For your information, my project depends on various JRE, from 6 to 11, so I depend on various version of different libraries just as this one. (old systems still stuck in JRE6)

[2021-07-07 06:15] #2204 closed

[2021-07-07 11:09] davecramer commented on #2204
Thanks for the report. FYI, the next major release will be dropping 6 and 7

[2021-07-07 12:05] davecramer commented on #2208
Ok, I can see this being implemented as a feature that is turned off by default.

[2021-07-07 12:08] trecloux commented on #2208
@rbygrave Yes, thanks for the clarification.

I can work on a pull request if you agree.

[2021-07-08 14:31] davecramer commented on #2153
So currently this is a conundrum for us. There's absolutely no way to use PGobject without changing it to a string. @shuiqingliu is that what your code does ?

[2021-07-08 14:58] lukaseder commented on #2153
Here are some thoughts:

- People who *want* a string will call `ResultSet.getString()` and not risk `ClassCastException`
- People who *want* a `PGobject` (what for?) will call `ResultSet.getObject(x, PGobject.class)` (haven't tried, I suppose it works? Seems to be, there's a trailing `PGobject.class.isAssignableFrom(type)` call at the end of the method)
- People who call `ResultSet.getObject(x)`

[2021-07-08 15:07] davecramer commented on #2153
@lukaseder You'd think jsonb would be more string-y but sadly it returns exactly the same information as json. I agree though the above example should be consistent and return the same thing. Seems we find ourselves in a bit of a pickle without a painless way out.

[2021-07-08 15:10] shuiqingliu commented on #2153
In earlier versions, when the database field type is `jsonb`, the PGObject object can be obtained through pg-jdbc, and then the json string can be obtained through its value attribute. Now pg-jdbc directly returns the String type. When I upgrade the new version, I need to modify all the query and write statements that use jsonb. This change does not consider this compatibility.

[2021-07-08 15:12] davecramer commented on #2153
So you are aware JSONB actually returns a string, right ? There is no binary output of jsonb

[2021-07-08 15:14] shuiqingliu commented on #2153
yep, I'm just talking about compatibility.

[2021-07-08 15:16] davecramer commented on #2153
OK, so my thought here is to release 42.2.24 with the change reverted and 42.3.0 with the current code. There would be no more changes to 42.2.x branch

[2021-07-08 15:26] jorsol commented on #2153
While it's indeed a breaking change that should not be done in a minor release, in a major release `json` and `jsonb` should probably be returned as String, and also a bunch of other data types that probably are "wrong" might be updated as well.

So I wonder how problematic is to change your code to not assume PGobject? I ask because a major release could introduce some breaking changes here and t

[2021-07-08 15:32] davecramer commented on #2153
@jorsol what other data types need to be changed ?
But ya, at this point the options are limited. We will break jsonb compatibility in the next major release, which is what I am saying here

[2021-07-08 15:42] shuiqingliu commented on #2153
Thanks @davecramer @jorsol ,When I read the release note before, I didn't find a clear description. I thought it was an unintentional bug. Now that the problem is solved, I will modify my code to adapt to the latest release version.

[2021-07-08 15:58] jorsol commented on #2153
On the top of my head, probably there are no other data types that need to be changed, yet I might assume that one of the lesser known data types might be returned as PGobject and could be String instead, I can't recall if money and bit string needs a review because they are returned as Double and Boolean, but since they are really a lot less used, they don't get the attention like json,

Anyway,

[2021-07-08 16:00] davecramer commented on #2153
money is not something I am going to fix. Nobody should ever use it.

[2021-07-13 18:38] sehrope opened #2212 "Internal method PgResultSet.parseQuery() dead code and likely parsing issues"
The internal method `PgResultSet.parseQuery()` references a local boolean variable `tablesChecked` which starts off as false but is then never reassigned:

https://github.com/pgjdbc/pgjdbc/blob/2f39510765a0f9ef803a1765b2f063b11fb82be2/pgjdbc/src/main/java/org/postgresql/jdbc/PgResultSet.java#L1813-L1837

Is that a bug and it's referencing something that got accidentally removed or should that unch

[2021-07-14 08:48] davecramer commented on #2212
Seems like we should remove that

[2021-07-19 11:50] ConiKost opened #2215 "The method 'PgResultSet.getInt' will fail with OID values bigger than 2GB (signed 32bit int) in 'pg_type.oid'"
**Describe the issue**
If 'pg_type.oid' contains OID values, which are bigger than 2GB values (more than 32bit signed int), the method PgResultSet.getInt' will fail. Example: ```Caused by: org.postgresql.util.PSQLException: bad value for type int: 3539503657```

This seems to be an JDBC driver problem, as the official PostgreQSL documentation states: ```The oid type is currently implemented as an

[2021-07-19 13:17] ConiKost commented on #2215
After investigation, I think, that this issue was introduced by this commit: https://github.com/pgjdbc/pgjdbc/commit/375cb3795c3330f9434cee9353f0791b86125914#diff-60f28e44064b930bbce27330687834ae571161f1c664a787b83c4e938a0a28fd

You can get those big OID values with such SQL:
[code]

A rewrite of the code in ```TypeInfoCache``` to use ```Long``` won't be probably easy, as there is always used 'Int

[2021-07-20 08:54] airh2o opened #2216 "Jdbc PreparedStatement Handling JSONB fields? Character problem"
Please read https://stackoverflow.com/help/minimal-reproducible-example

**Describe the issue**
create

**Driver Version?**
42.2.23
**Java Version?**
8
**OS Version?**
win10
**PostgreSQL Version?**
9.6
**To Reproduce**
Steps to reproduce the behaviour:

**Expected behaviour**
A clear and concise description of what you expected to happen.
And what actually happens

**sql**

select "BB49C0ECC2A1407

[2021-07-20 09:21] #2216 closed

[2021-07-20 15:43] MMeent commented on #2215
First of all, sorry for that. Mostly due to surrounding code, I hadn't realized that oids are uint32 instead of int32 and the problems related to that.

Second of all, this _should_ be fixable without changing all signatures to long, by doing oid extraction/insertion through intermediate long results, and subsequently casting int values to positive long values, such that the full oid space can be

[2021-07-20 15:52] bokken commented on #2149
This has to do with the partial seconds in the offset:

-04:56:02**:00**

There was actually a recent conversation in the postgresql-docs mailing list:
https://www.postgresql.org/message-id/162543102827.697.5755498651217979813%40wrigleys.postgresql.org

[2021-07-26 06:36] ConiKost commented on #2215
Thank you very much, I can confirm, that your patch fixes the problem.

[2021-07-29 14:35] 62mkv commented on #1418
Hi @davecramer can you give an example of that? ("make currentSchema it's own property")

[2021-07-29 14:41] 62mkv commented on #1418
ah, so you mean it's not in the URL but in the code? actually it works in the URL but not always straight away:

[code]

it used to work like a charm for about a year, but recently it just so behaves that when the app starts, this parameter seems to be ignored for about half an hour - requests to unqualified tables from schemaB (which is not owned by the user) end up with `Relation not found`.

af

[2021-07-29 14:46] davecramer commented on #1418
OK, that makes absolutely no sense from the drivers point of view. You must have a pool in the middle ?
There is nothing that is timed in the driver (at least like that)

[2021-07-29 14:51] 62mkv commented on #1418
Spring Boot uses Hikari CP of course (so, we are also using it). but how could that affect observed behaviour _right after restart_ ? any new connection would still go thru the driver first?

[2021-07-29 14:56] davecramer commented on #1418
I have no clue, but I'd really like to know what is going on. The driver will issue the setSchema on the initial connection. The only way I can see this happening is you have connections still in Hikari that you are re-using and they eventually expire and get new connections.

[2021-07-29 15:03] 62mkv commented on #1418
That would make sense indeed, but the app is restarted in the openshift cluster so there is no way it could reuse any context (entirely new process on a different pod)
And also, any previously working app would use exactly the same URL so connection options as well
I wonder if we could set some system property to have driver dump it's config or connection commands into logs?
Because this seem to a

[2021-07-29 15:06] jorsol commented on #1418
There is `loggerLevel=TRACE&loggerFile=pgjdbc.log`

https://jdbc.postgresql.org/documentation/head/logging.html

[2021-08-02 13:16] nanella opened #2221 "LocalDate conversion should ignore timezones"
**Describe the issue**
When retrieving a `java.time.LocalDate` via `PgResultSet.java::getObject(@Positive int columnIndex, Class<T> type)`, the data is first converted to a `java.sql.Date` and then converted to `java.time.LocalData`. This results in timezones influencing the date.

Example with application in UTC+2 time-zone:

- date to be saved (`java.time.LocalDate.toString()`): "1000-01-01"
- f

[2021-08-02 13:40] davecramer commented on #2221
Interesting as this is different behaviour than just calling getLocalDate.

Thx for the report

[2021-08-04 04:42] MikeKnowsley opened #2222 "CallableStatement.setQueryTimeout() and CallableStatement.cancel() do not cancel a plsql function which is selecting to a refcursor"
**I'm submitting a ...**

- [X] bug report
- [ ] feature request

CallableStatement.setQueryTimeout() and CallableStatement.cancel() do not cancel a plsql function which is selecting to a refcursor at the time.
But they do cancel a plsql function doing something other than selecting to a refcursor at the time.

Postgres JDBC Driver Version: 43.3.8

Environments

Oracle jdk	1.8.0_231
Mac OSX Catali

[2021-08-04 10:21] davecramer commented on #2222
version 43.3.8 ?

[2021-08-04 13:01] davecramer commented on #2222
So looking at the code. We send the cancel request. If postgres doesn't honour it, there's little we can do.

[2021-08-05 00:14] MikeKnowsley commented on #2222
Thanks Dave.
So I need to enquire about the PG servers action rather than JDBC client.

[2021-08-05 00:14] #2222 closed

[2021-08-05 18:58] amirnajmi opened #2223 "Additional double quotations in returning fields"
**Describe the issue**
When you are working with other JDBC implementations you need to use this format for of string for returning fields eg.: ""number"". (it means you had a string that includes a field name around by double quotations.)
inside the `Parser.addReturning()` method the `Utils.escapeIdentifier()` is called and inside that `doAppendEscapedIdentifier` is called.
In the body of doAppen

[2021-08-05 19:02] davecramer commented on #2223
Can you confirm this exists in 42.2.23 ?

[2021-08-05 19:11] amirnajmi commented on #2223
Yes, I checked that in 42.2.23.

[2021-08-05 19:21] davecramer commented on #2223
So if memory serves me the reason we do this is to ensure that we can return "Number". Note the case. Postgres is unusual in that in order to return an identifier with  mixed case it would have to be quoted.

I'm not sure I have a solution for you that will not break more apps

[2021-08-05 19:54] amirnajmi commented on #2223
You are right about mixed case fields.
But I think the `doAppendEscapedIdentifier()` is doing anything Postgresql needs for mixed case fields.
So why the returning field with extra double quotations can pass to this method?(the method parameter should be "mixedCase" not ""mixedCase"".)

[2021-08-06 11:03] teetrenz commented on #2196
Hi,

I updated to the latest JDBC driver 42.2.23 and I am getting now an exception "org.postgresql.util.PSQLException: No primary key found for table" although my table has a id column which is a primary key. That was working with previous versions of the JDBC driver. Testing now with 42.2.22.

[2021-08-06 11:23] teetrenz commented on #2196
Just for your information. I tried 42.2.22 and it is still working fine. 42.2.23 seems to be broken.

[2021-08-06 11:36] davecramer commented on #2196
Yes, it's not as simple as I first thought. I'll be pushing a fix shortly

[2021-08-07 10:14] amirnajmi commented on #2223
I know that and for clarifying my problem, I have tested the scenario with a mixed case field.
The first image demonstrates that the input method is ""number"" and as you can see in logs, the insert operation getting failed since it couldn't find any field like that(with additional useless double quotations).

![addReturning](https://user-images.githubusercontent.com/22781357/128595954-a84da4ea-1e

[2021-08-07 10:58] davecramer commented on #2223
The double quotes are intended to solve the following

test=> create table t1 ("Id" serial primary key, name text);
CREATE TABLE
INSERT 0 1
test=> insert into t1 (name) values ('Dave') returning "id";
ERROR:  column "id" does not exist
LINE 1: insert into t1 (name) values ('Dave') returning "id";
                                                        ^
HINT:  Perhaps you meant to reference the co

[2021-08-09 13:34] jnehlmeier commented on #2223
Hi,

we use an ORM called Ebean (https://github.com/ebean-orm/ebean) which has a configuration option to escape all identifiers. With this option enabled all table/column names will be double quoted by the ORM. We need this since some columns have names that we otherwise can not select, e.g. a column named "user".

Now when we make an insert query the ORM calls JDBC API `Connection.prepareStatemen

[2021-08-09 13:42] davecramer commented on #2223
Seems that if it is already quoted we should probably not quote it. Care to provide a PR ?

[2021-08-09 15:45] jnehlmeier commented on #2223
@davecramer Hm no, given that it is an utils method I would prefer if someone with better code knowledge fixes the issue.

Personally I think it is only "easily" fixable if method `Utils.doAppendEscapedIdentifier(Appendable sbuf, String value)` gets a new behavior which says: "If `value` starts and ends with a double quote then I assume it is **CORRECTLY** quoted and I do nothing".

Without that c

[2021-08-09 15:53] davecramer commented on #2223
basically that's the fix. If it starts with " and ends with " then do nothing.

[2021-08-09 19:36] amirnajmi commented on #2223
I think with the explanations that @jnehlmeier provided, the issue got more clear. Thank you so much.
@davecramer, Of course, you know better than me, but I guess this is exactly the solution.

[2021-08-13 13:29] davecramer opened #2225 "What is this comment doing here ?"
https://github.com/pgjdbc/pgjdbc/blob/f61fbfe7b72ccf2ca0ac2e2c366230fdb93260e5/pgjdbc/src/main/java/org/postgresql/jdbc/PgStatement.java#L442

Seems to have no bearing on the code it is commenting

[2021-08-13 14:15] sehrope commented on #2225
Not sure but here's where it was changed: https://github.com/pgjdbc/pgjdbc/commit/8fca8b433b36002df472c5c064e3d886ee4394eb#diff-2abcc60e1b1ef8eeadd6372bf7afd0c0ebae0ebd691b0965fc914fea794eb6d0L586 (You have to click to load the PgStatement.java diff as by default GitHub hides it for being too large).

[2021-08-13 14:31] davecramer commented on #2225
Thanks, seems we need to fix that...

[2021-08-14 07:56] hashhar opened #2226 "Driver treats multi-dimensional object arrays differently depending on how they are declared"
**Describe the issue**

Depending on how multi-dimensional arrays are declared (see the reproduction example at https://gist.github.com/hashhar/6a682f2be0588e47292b2eb218a588d1) the driver behaves differently.
See example:

[code]

This seems to be a regression after https://github.com/pgjdbc/pgjdbc/pull/1194. I cannot reproduce with any version before that PR (e.g. 42.2.10).

**Driver Version?**

[2021-08-14 16:05] hpdkhoa commented on #2157
Hello all,

I want to solve this one but not know where to go first.
About RSS generate then can I submit the file again in www folder?

[2021-08-14 16:11] sehrope commented on #2157
@hpdkhoa This page has some detail on how the site works: https://jdbc.postgresql.org/development/website.html

It's a static site in the `docs/` path so to add the RSS feed we would need a script added to the repo that would dynamically generate the file. The generated file would also be checked into the repo. Maintainers would run the script as part of the manual process to update the website.

[2021-08-14 17:23] hpdkhoa commented on #2157
@sehrope One more question after I read how to make the website.

I'm thinking of doing a bashscript or using html2rss. Can you make me a suggest?
Because I don't know the process of the maintainer do so it little bit hard for me to figure it out the process.

Thank you.

[2021-08-14 19:18] sehrope commented on #2157
The current site is built using jekyll so it seems reasonable to add another ruby dependency if it's necessary for building the site. I'm not familiar with that one specifically but scanning it's site, it seems like it's for scraping HTML pages and turning it into an RSS feed.

For this project I think it'd be easier to have it driven off the release tags or changelog.

[2021-08-14 19:59] davecramer commented on #2157
On Sat, Aug 14, 2021, 3:18 PM Sehrope Sarkuni ***@***.***>
wrote:

Yes to tags

But prefer grade task using groovy or kotlin

[2021-08-16 15:18] bokken commented on #2226
You do not need to have a strongly typed array (as shown by your working example), but you do need to actually have a multi-dimensional array.

The meaningful log message from the failure is:

[code]

The logic for encoding (now) examines the number of dimensions from the value itself, and an `Object[]` is a single dimension array, regardless of what values are in that array. As the log shows, thi

[2021-08-16 17:32] hashhar commented on #2226
This is really interesting but very surprising. Indeed `componentType` seems to work only on the top-level array in case of `Object[]`. Nothing the driver can do about this.

I'm not sure why this is the case. In my (uninformed and newcomer) opinion it would make sense to make use of the type-information provided by the caller to decide what the underlying type of the values are. Or is the concern

[2021-08-16 18:05] bokken commented on #2226
Not /lie/, but maybe not be accurate. For example, some types are somewhat interchangeable. For example, call it a bigint, but provide java int or long. Or call it numeric type and provide int, long, double or float. Basically there is some degree flexibility mapping between sql types and java types.

That works (as your example shows).

No.

[2021-08-16 20:08] bokken commented on #2226
It is certainly possible to provide additional handling for an `Object[]` containing other types of arrays. It is more a question of whether we really /want/ to support that degree of unstructured multi-dimensional arrays.

Here is a rough example I have working locally:

diff --git a/pgjdbc/src/main/java/org/postgresql/jdbc/ArrayEncoding.java b/pgjdb
index f8afc593..baf38525 100644
--- a/pgjdbc/s

[2021-08-17 09:34] sehrope commented on #2226
If it's going to "just work" without breaking other situations then having it automatically detect nested arrays is a good idea. That also closer to the reverse direction of parsing the serialized text representation of an array value (either by us or the server) to figure out it's actual dimensions.

Is that additional if-else block all that's needed to handle this? I'd have to read the rest of t

[2021-08-17 18:27] davecramer opened #2227 "defaultRowFetchSize and no known snapshots error"
From the mailing list...

Klika David reported the following

I messed with this exception: PSQLException: ERROR: no known snapshots
I found that it arise when:
* defaultRowFetchSize connection parameter is set to a positive value (value 100 in my case) and
* a ref_cursor is read and it has more rows than the limit and
* the cursor contains toasted data (bytea in my case)
When the record no 101 is

[2021-08-18 22:11] chalmagr commented on #2196
Created PR 2228

[2021-08-19 14:20] zotann opened #2229 "Bug in PostgreSQL JDBC driver"
**PostgreSQL Version**
postgres - 13 (centOs)

Столкнулся с интересной ситуацией: на один и тот же запрос с одного и того же компьютера в разных клиентах тратится существенно разное время (в каждом клиенте запрос выполнял более 10 раз и результат всегда был почти одинаковый +/- несколько секунд). Результаты запросов на скриншотах.

PhPShtorm и DataGrip - 1 мин. 4 сек.
PgAdmin4 - 15 сек.
EMS Manedg

[2021-08-20 13:57] hpdkhoa commented on #2157
@sehrope Can I ask about the syntax of the tags and versions?
In the tags I see 2 type of syntax ('_' and ','), I think I will change the first from '_' to ',' and the rest keep in that order, but in the later part it have dev (e.x "version_9.1dev-900") so can I remove it inside of the "changelog.md" file?

REL9.4.1207
REL9.4.1208
REL9.4.1209
REL9.4.1210
REL9.4.1211
REL9.4.1212
REL9_0_801
REL9_0_8

[2021-08-20 14:11] davecramer commented on #2157
We aren't even using tags like this anymore. The more recent tags are what you should be looking at.  As in REL42.2.13

[2021-08-22 12:56] davecramer commented on #2229
if there is no limit in the request then all of the results will be returned.

As for enabling how limit effects the query execution you would be better served using

explain analyze ... with and without the limit to see how that changes the plan

Dave

[2021-08-23 05:53] zotann commented on #2229
Dave, вы даже не прочитали то что я написал. Планы одинаковые для всех IDE, но phpStorm дольше выполняет чем другие клиенты.
И проблема кроется в параметре  "limit page size to" .
Поэтому не надо делать комментарии ради комментариев. Или делать видимость своей деятельности.

[2021-08-23 10:04] davecramer commented on #2229
@zotann

First of all it would be much easier in English as I don't speak or read Russian, so we are working with google translate here. There could be a mis-translation

Second, screen shots are terrible, I'd far prefer you cut and paste the queries in here  as opposed to trying decipher what is going on with a screen shot.

Lastly, you asked
[code]

[2021-08-23 12:18] vlsi commented on #2229
@zotann , попробуйте выполнить

а) `set plan_cache_mode = force_generic_plan;` и потом ваши запросы в разных IDE (в том же окне)
б) `set plan_cache_mode = force_custom_plan;` и потом ваши запросы в разных IDE (в том же окне)

Это повлияет на длительность?

---

501 это ограничение на количество выбираемых строк за один раз в `ResultSet#next()` (см.`setFetchSize` и `defaultRowFetchSize` https://jdb

[2021-08-23 12:50] zotann commented on #2229
Выполнил как вы попросили (см.скриншоты ниже):
1) до set plan_cache_mode  
2) после set plan_cache_mode = force_generic_plan
3) после set plan_cache_mode = force_custom_plan

Планы запросов из разных IDE
EXPLAIN (ANALYZE, BUFFERS, VERBOSE, SETTINGS) select.....
PgAdmin4
https://explain.depesz.com/s/ct5W
EmsManager
https://explain.depesz.com/s/w8aW
PhpStorm
https://explain.depesz.com/s/dDeC
 
Даже

[2021-08-23 14:02] vlsi commented on #2229
Получается, тут 2 момента:
1) Сама по себе длительность выполнения запросов всё-таки одинаковая (explain analyze работают по 25 секунд)
2) По неясным причинам база выбирает неподходящий план для данного запроса. Как вариант, я бы предложил удалить индекс fts_goods_import_export и посмотреть что будет -- вполне возможно, что скорость работы запросов станет одинаковой.

И, получается, что наблюдаемы

[2021-08-23 14:21] zotann commented on #2229
Если длительность запросов одинаковая, то почему в phpStrom (и других продуктах jetBrains) длительность запроса больше в 6 раз?

Интересно получается, что неверно собранная статистика применяется к phpStorm, а к другим IDE статистика применяется другая?

Почему phpStorm (и DataGrip) выполняют запрос с таким же временем как и другие IDE, если отключить параметр е "limit page size to" ?

[2021-08-23 14:54] vlsi commented on #2229
Могут отличаться параметры соединений (как вариант -- проверить вывод `SHOW ALL` в разных IDE), но тогда не понятно почему бы влияло именно "limit page size to", но вдруг.

Эффект может зависеть от загруженности базы. Например, вот тут видно https://explain.depesz.com/s/dDeC "Workers Planned: 4, Workers Launched: 3". По сути, запрос разделился на 4 фрагмента, но на базе не хватило ресурсов и реаль

[2021-08-23 14:59] vlsi commented on #2229
Ещё раз: к сожалению, в PG нет простого способа понять какой из планов выполнения выбрался по факту. Результат EXPLAIN может отличаться от фактического плана. Если умеете -- можете через `perf` или `pstack` узнать фактический план выполнения во время быстрого и медленного запросов. Но это не так легко (с учётом того, что нужно поймать 6сек запрос).
Поэтому и предлагаю простой вариант: вообще удали

[2021-08-23 16:35] driekus77 commented on #1419
I can reprocedure this exception both in DataGrip and DBeaver (Both using pgjdbc 42.2.2x)

Both client and database encoding is UTF-8.

But I have a different reproduction path:

            create table if not exists hrpointstable
            (
                id     bigserial primary key,
                points geometry(MultiPoint, 28992)
            );

            insert into hrpointstable (po

[2021-08-23 16:46] driekus77 commented on #1933
See my comment at https://github.com/pgjdbc/pgjdbc/issues/1419#issuecomment-903932529

[2021-08-23 16:52] driekus77 commented on #1419
In PGAdmin I get:

     'utf-8' codec can't decode byte 0x90 in position 139: invalid start byte

Zo maybe a database issue?

[2021-08-23 17:14] driekus77 commented on #1419
Using st_astext( ... , srid)  without the srid works:

    select st_astext(st_geomfromtext('MULTIPOINT ((10 40), (40 30), (20 20), (30 10))'))

[2021-08-24 09:46] highgozhangyc opened #2231 "Error when build on jre6"
Hi everyone,
  When i package the pgjdbc from the newest source code ,i got the flowing error:
  "Gradle 6.8.3 requires Java 8 or later to run. You are currently using Java 6."
  So,how could i solve it?

Thanks.

[2021-08-24 09:47] davecramer commented on #2231
Build it with JAVA 8.

[2021-08-24 09:55] highgozhangyc commented on #2231
@davecramer
Thank you very much for your reply, I now need to use jdbc under jre6, and I see https://jdbc.postgresql.org/download.html， this website also provides the version used by jre6, so could you tell me how can i compile pgjdbc on jre6？

Thanks.

[2021-08-24 10:02] davecramer commented on #2231
If you can use Maven, there is a reduced pom that you can use that would compile it, but honestly, just download java 8 and build it ... Why do you need to compile it on JRE6?

[2021-08-24 10:16] highgozhangyc commented on #2231
@davecramer
Because of some requirements, I need to make some modifications to pgjdbc, but some environments that need to use jdbc use an older version of jre, so I may need to recompile pgjdbc on jre6. By the way, is the 42.2.23.jre6 version provided in https://jdbc.postgresql.org/download.html compiled with maven? Or is there another way?

Thanks very much.

[2021-08-24 10:58] davecramer commented on #2231
Ok, so you don't need JRE6 to create a JRE6 jar. We compile everything on JRE8. Gradle can output a JRE6 jar. No those jars are created using Gradle. We provide the maven file for maintainers of distributions that do not have gradle available

[2021-08-25 05:34] highgozhangyc commented on #2231
Thank you, I understand what you mean, but after I executed ‘gradlew build -x test’ on jre8, I did not find the JRE6 jar. I don’t know where the problem occurred, or what kind of configuration is needed.

Thanks.

[2021-08-25 11:12] davecramer commented on #2231
you may have to set

pgjdbc.skip.jre6=false

in ~/.gradle.properties

[2021-08-31 03:53] SaumyaSingh1 opened #2233 "Error while building REL42.2.23 on OpenJDK 1.8; Mvn 3.3.9; Gradle 6.7"
**Describe the issue**
While building `org.postgresql.postgresql-42.2.23`  with OpenJDK 1.8; Mvn 3.3.9; Gradle 6.7  I am getting
[code]

script used -
```    find . -name '*.java' -exec sed -i -e s/org.postgresql.util.DriverInfo.DRIVER_FULL_NAME/'"PostgreSQL JDBC Driver 42.2.23"'/g {} \; && gradle --info publish -x test -x initializeNexusStagingRepository -x autostyleKotlinGradleCheck -x javadoc -

[2021-08-31 03:54] SaumyaSingh1 commented on #2233
**Detailed Log**

[code]

[2021-08-31 03:57] SaumyaSingh1 commented on #2233
cc @davecramer

[2021-08-31 05:02] ionutursuleanu commented on #2196
I also noticed this. 42.2.23 is unusable for me

[2021-08-31 09:59] davecramer commented on #2233
I have no clue where that class is coming from. Pretty sure the driver doesn't reference it..

Why are you not just using ./gradlew ...

[2021-08-31 12:06] sgbogdanov commented on #1508
Socket hangup stopped after I configured on the server tcpKeepAlive.

[2021-08-31 13:52] SaumyaSingh1 commented on #2233
thanks for replying

 ./gradlew  as in where, in my build script? instead of PostgreSQL JDBC Driver 42.2.23 ?

```find . -name '*.java' -exec sed -i -e s/org.postgresql.util.DriverInfo.DRIVER_FULL_NAME/'"PostgreSQL JDBC Driver 42.2.23"'/g {} \; && gradle --info publish -x test -x initializeNexusStagingRepository -x autostyleKotlinGradleCheck -x javadoc -Ppgjdbc.skip.jre6=true -Ppgjdbc.skip.jre7=tr

[2021-08-31 13:57] davecramer commented on #2233
Actually I now see that you are using gradle. What are you trying to accomplish with sed ?

[2021-08-31 14:02] SaumyaSingh1 commented on #2233
one of our devs used it for productizing older version org.postgresql.postgresql-42.2.18

for every new version, we are supposed to almost use same command. So i specifically don't realize the purpose of stream editor command here

[2021-08-31 14:03] SaumyaSingh1 commented on #2233
also this version is using gradle 6.7.1 and I am using 6.7  👀

[2021-09-02 12:12] bizen-ya opened #2235 "GSS Authentication failed with user map"
Please read https://stackoverflow.com/help/minimal-reproducible-example

**Describe the issue**
We use user map in pg_ident.conf to allow Kerberos users to log to another role, using jdbc driver use another role name is not working

**Driver Version?**
PostgreSQL JDBC Driver 42.2.23

**Java Version?**
openjdk version "1.8.0_292"

**OS Version?**
Red Hat Enterprise Linux Server release 7.9 (Maipo)

[2021-09-02 12:29] davecramer commented on #2235
Thanks for the report. I can have a look at this.

[2021-09-02 13:26] davecramer commented on #2235
Ok, so why does this switch to an SSL connection. Do you have the logs for when it works ?

[2021-09-02 13:48] bizen-ya commented on #2235
Yes i don't know why it's switching from GssEnc to SSL ( even with sslMode=disable ) , here is the log of a working session

[code]

[2021-09-02 13:52] EricC-59 opened #2236 "Longer startup time for SSL connection after postgresql driver 42.2.23 upgrade"
When updating from Spring Boot 2.5.2 to Spring Boot 2.5.3, the postgresql driver is updated to v42.2.23. With this update, the startup times are significally longer.

**Driver Version?**
v42.2.23.
Problem is not present with driver v42.2.22

**Java Version?**
openjdk version "11.0.9.1" 2020-11-04 LTS
OpenJDK Runtime Environment Zulu11.43+55-CA (build 11.0.9.1+1-LTS)
OpenJDK 64-Bit Server VM Zulu11

[2021-09-02 14:10] davecramer commented on #2236
Pretty hard to see what might have caused this in https://github.com/pgjdbc/pgjdbc/compare/REL42.2.22...REL42.2.23 without more information

[2021-09-02 14:31] davecramer commented on #2235
OK, so what is happening here is that it attempts to use the user that you have provided to create the GSS encrypted connection. It can't as it doesn't have access to pg_ident. Looking to see what libpq does here.

[2021-09-02 14:48] bokken commented on #2236
Maybe the changes to the metadata?

https://github.com/pgjdbc/pgjdbc/compare/REL42.2.22...REL42.2.23#diff-0571f8ac3385a7f7bb34e5c77f8afd24810311506989379c2e85c6c16eea6ce4

On Thu, Sep 2, 2021 at 9:10 AM Dave Cramer ***@***.***> wrote:

[2021-09-02 14:53] davecramer commented on #2236
Possibly, but without more information pretty hard to tell

[2021-09-02 14:56] davecramer commented on #2235
ok, sorry for the confusion. So what happens is that the OS user is used to create the GSS encrypted connection then the user map maps that user to the pg user...

[2021-09-02 15:18] davecramer commented on #2235
So does the OS user have a GSS token? My guess is the GSS encryption is failing because the OS user doesn't authenticate using GSS

[2021-09-02 16:46] EricC-59 commented on #2236
Which kind of additional information do you need?

[2021-09-02 16:57] davecramer commented on #2236
you can turn on logging, alternatively if you can share a prebuilt app on github I'll trace it. Thanks

[2021-09-02 20:37] gaurav9822 commented on #1420
Check if not cast from enum to varchar!
Use command from @nkonev if forgotten!

[2021-09-03 09:17] EricC-59 commented on #2236
Here are some additional logs:
[code]

The delay occurs after org.postgresql.ssl.MakeSSL: converting regular socket connection to ssl

[2021-09-03 09:55] EricC-59 commented on #2236
A PoC is available [here](https://github.com/EricC-59/postgresql-issue-poc).

[2021-09-03 09:59] davecramer commented on #2236
Thanks, that's an interesting nuance that it has to be an ssl connection...

[2021-09-03 15:45] strassl opened #2237 "receiveFastpathResult fails if ParameterStatus message is received after ErrorResponse"
**Describe the issue**
It is possible that PostgreSQL sends a ParameterStatus message after an ErrorResponse.
If this occurs in `QueryExecutorImpl.receiveFastpathResult`, the driver fails with `org.postgresql.util.PSQLException: Unknown Response Type S.` and the connection is left in an invalid state thereby rendering it unusable.

**Driver Version?**
42.2.23

**Java Version?**
openjdk 14.0.2 2020

[2021-09-04 10:23] davecramer opened #2239 "Links on website broken"
Links to changelog on main page are broken, not sure when this happened

[2021-09-06 07:01] bizen-ya commented on #2235
Hello,

Yes the user has it's ticket, and here we are using a keyab, and this is working with "psql"

We should be able to provide any role name to the database, in order to the user mapping fonctionnality

[2021-09-06 10:39] davecramer commented on #2235
Ya I figured that was a long shot...

[2021-09-06 10:50] davecramer commented on #2237
Seems reasonable. Care to cobble a PR together ?

[2021-09-06 13:01] davecramer commented on #2235
So what happens if you provide a password ?

[2021-09-06 13:08] bizen-ya commented on #2235
I switch to password authentication, on SSL.

[2021-09-06 13:10] davecramer commented on #2235
Ya, but the password isn't provided which is what is causing the NPE

[2021-09-07 06:53] jsyrjala opened #2241 "PgDatabaseMetaData.getIndexInfo breaks with certain custom operator configuration"
**Describe the issue**
It is possible to break method [PgDatabaseMetaData.getIndexInfo()](https://github.com/pgjdbc/pgjdbc/blob/master/pgjdbc/src/main/java/org/postgresql/jdbc/PgDatabaseMetaData.java#L2471) by adding certain custom operators.

This happened with a production database that was running Adobe Campaign product. That product defines a bunch of functions and operators for internal usage

[2021-09-07 06:54] jsyrjala commented on #2241
I'll make soon a PR to add `::smallint` casts to `PgDatabaseMetaData.getIndexInfo()` queries.

[2021-09-08 07:32] yanzhisishui opened #2243 "Cannot convert the column of type TIMESTAMPTZ to requested type timestamp."
Please read https://stackoverflow.com/help/minimal-reproducible-example

**Describe the issue**
A clear and concise description of what the issue is.

**Driver Version?**
   42.2.21
**Java Version?**
  corretto-11 Amazon Corretto version 11.0.12
**OS Version?**
Windows 10
**PostgreSQL Version?**
PostgreSQL 10.0 on x86_64-pc-linux-gnu, compiled by gcc (Debian 6.3.0-18) 6.3.0 20170516, 64-bit
**To R

[2021-09-08 10:05] davecramer commented on #2243
From the javadocs Note specifically "does not store or represent a time-zone" You need to use timestamp, not timestamptz

[code]

[2021-09-08 10:15] yanzhisishui commented on #2243
Sorry, I just joined the company and used PGSQL for the first time. I don't know the meaning of timestamptz. Thank you for your answer

[2021-09-08 13:49] jp7677 opened #2244 "Request for backporting PR#2148 into 42.2.x"
**I'm submitting a backporting request**

- [ ] bug report
- [ ] feature request
- [x] backport request

**Describe the issue**
Hi there, while investigating an issue I found the `logServerErrorDetail` connection string setting which turned out to be very useful for hiding sensitive data in application loggings. Digging a bit deeper I discovered that this settings does not has effect on java.sql.B

[2021-09-08 23:17] davecramer commented on #2244
Seems legit, I'll have a look

[2021-09-09 09:35] inspiredyu opened #2246 "ERROR TYPE :Oid.TIMESTAMPTZ, Types.TIMESTAMP"
in source file: org.postgresql.jdbc.TypeInfoCache
i see
{"timestamptz", Oid.TIMESTAMPTZ, Types.TIMESTAMP, "java.sql.Timestamp",
Oid.TIMESTAMPTZ_ARRAY},

mapped Types.TIMESTAMP is not correct, should be Types.TIMESTAMP_WITH_TIMEZONE.
Is there any reason, or it is a bug?

[2021-09-09 09:43] davecramer commented on #2246
Can you provide some context ? Why do you think this is a bug ?

[2021-09-10 12:04] #2237 closed

[2021-09-13 09:20] #2241 closed

[2021-09-13 09:54] jsyrjala commented on #2241
PR against `release/42.2` is #2253

[2021-09-14 13:50] jp7677 commented on #2244
Thanks a lot for accepting https://github.com/pgjdbc/pgjdbc/pull/2254 !

[2021-09-14 13:50] #2244 closed

[2021-09-14 16:13] fprochazka commented on #2215
We've also run into this issue and I'm glad to see you've already fixed it! Thank you!

I'm pasting here my error code for future reference :)

[code]

[2021-09-16 13:42] sehrope opened #2255 "Add JDK 17 LTS to CI matrix"
Creating this to track adding JDK 17 LTS to the CI matrix.

At the moment Gradle does not support JDK 17 so we'll have to wait for that before we can build the driver: https://docs.gradle.org/current/userguide/compatibility.html

Gradle issue to track JDK 17 support: https://github.com/gradle/gradle/issues/16857

Would also be nice to separate out the build vs the test stages so that we can build

[2021-09-16 13:51] jorsol commented on #2255
It would be nice to build with a newer JDK (JDK 17) and test on all older JDK using the [JEP 247](https://openjdk.java.net/jeps/247) `--release N` option ;)

[2021-09-16 13:52] davecramer commented on #2255
Getting rid of those builds is on the list!

[2021-09-17 13:05] davecramer commented on #2246
No feedback

[2021-09-17 13:06] davecramer commented on #2239
Fixed

[2021-09-17 13:06] #2239 closed

[2021-09-18 16:09] Mikhail2048 opened #2256 "Driver generate an invalid SQL for stored procedure"
**Driver Version**: 42.2.23

**Java Version**: 11

**PostgreSQL Version**: 13.3

I have created a dummy procedure in the Postgresql:

[code]
In case I call it from psql CLI, everything works as expected - the random row gets updated in the table. Here is the java code:

[code]

And it just did not work. You can see error logs below

**Expected behaviour**:
To get procedure executed via simple **CA

[2021-09-18 16:28] davecramer commented on #2256
duplicate of issue #2043

[2021-09-18 16:28] #2256 closed

[2021-09-18 22:48] LifeIsStrange commented on #1655
@davecramer noob question, would the incoming support for JDBC 4.3 help for a better implementation of NOTIFY/LISTEN? (instead of polling the DB), also it would be nice if the pgjdbc driver would support a netty backend for asynchronicity like to R2DBC or pgjdbc-ng.

[2021-09-18 23:07] davecramer commented on #1655
Dave Cramer

On Sat, 18 Sept 2021 at 18:49, LifeIsStrange ***@***.***>
wrote:

Can you be more specific ?

In your opinion how would that help?

Dave

[2021-09-21 15:12] davecramer commented on #2236
So 42.2.23 is getting types for internal types such as regproc where as 42.2.22 doesn't ... still digging. Certainly looks like something we did.

[2021-09-21 15:41] davecramer commented on #2236
looks like getSQLType() is the culprit....

[2021-09-24 00:25] jorsol commented on #2236
This should be fixed in 42.2.24.

[2021-09-24 00:25] #2236 closed

[2021-09-27 05:52] liuzx8888 opened #2265 "how can jdbc get resultSet from function of retrtuns setof refcursor"
**Describe the issue**

Now I will try to explain which is my problem ( excuse my poor level of English, please ). I have a Java application that must read a data provided by two ( 2 ) cursors returned by a function stored in a database. I know to retrieve data if the function have one ( 1 ) cursor, but with two I can’t.

![image](https://user-images.githubusercontent.com/10862577/134852483-f5a924

[2021-09-27 11:52] davecramer commented on #2265
https://jdbc.postgresql.org/documentation/head/callproc.html#callfunc-resultset-refcursor
Does this not help ?

[2021-09-27 17:05] jchampio opened #2267 "EscapeSyntaxCallModeCallTest failure with PG14"
Hello,

We're seeing a test failure when building against the REL_14_STABLE branch of Postgres:

[code]

From a quick skim of the other issues, it seems like this might be related to #2190? This is a cloud build, so my ability to hop on and debug is somewhat limited; I'm hoping it's a simple reproduction for others.

**Driver Version?**

42.2.24

**Java Version?**

[code]

**OS Version?**

CentOS

[2021-09-27 17:26] davecramer commented on #2267
Thx, have been able to reproduce this. PR#2190 should have been backpatched...

[2021-09-27 17:30] jchampio commented on #2267
Just in case it helps: switching to a different matcher gives more information (disregard line numbers since they have changed):
[code]

[2021-09-27 18:01] davecramer commented on #2267
thx, ya that is it

[2021-09-28 05:53] liuzx8888 commented on #2265
@davecramer  this documentation  only support refcursor demo. i need get data from  setof  refcursor.
such as ：
`CREATE OR REPLACE FUNCTION usp_hdw_jk_getAllHzJbxx (
    startdate     date,
    enddate      date,
   val               varchar,
   startnum    Integer,
   endnum      Integer,
  refcursor,
  refcursor
)`

 i do not konw how  use jdbc  to get data from setof refcursor.

[2021-09-28 09:52] davecramer commented on #2265
ah, ok, so what happens when you do this. Do you get an error ?
Be useful if you could give me a complete example

[2021-09-29 09:10] liuzx8888 commented on #2265
@doxavore thank you , now i can get data from  setof refcursor success.

https://www.cnblogs.com/liuzx8888/p/15343951.html

[2021-09-29 09:10] #2265 closed

[2021-09-29 09:26] davecramer commented on #2265
@liuzx8888 so it appears that this example is no different? Your blog is a little tough to read for me. Can you clarify the solution here for others ?

[2021-09-30 20:31] judahrand opened #2275 "Numeric array precision should not be 131089"
**Describe the issue**
I don't think that #2189 fixed the issue for `NUMERIC[]`, only `NUMERIC`. This leaves a very inconsistent state.

I've opened #2274 to confirm that a test for this fails. I'm not quite sure how to fix it!

[2021-09-30 20:42] judahrand commented on #2275
Yup, test for this fails.

[2021-09-30 21:56] davecramer commented on #2275
So the type of the column is ARRAY. So the column size is what. The number of items in the array ? I've looked and this is not specified in the spec AFAICT. What do other drivers do ?

[2021-10-01 07:05] judahrand commented on #2275
I understand what you're saying - one could specify `NUMERIC[3]`. However, from what I can see in the docs this doesn't actually change anything. The length is unenforced.

How would one go about determining the length and scale of the data inside the array? This is the use case I stumbled upon this with.

[2021-10-01 08:33] davecramer commented on #2275
This is an excellent question for which I honestly don't know. It would seem that JDBC should allow you to figure this out. Still looking.

[2021-10-05 07:46] MarekUniq opened #2278 ""service" syntax support: "jdbc:postgresql://?service=my-service" (pg_service.conf and .pgpass)"
# Introduction
psql (libpq) supports **ini-style service file**. pgjdbc does not support servcie.
psql (libpq) supports **.pgpass file**. pgjdbc does not support .pgpass.

## Goal
Add **pg_service.conf** and **.pgpass** support to pgjdbc.
pgjdbc should behave as close as possible to libpq.

### References
https://www.postgresql.org/docs/current/libpq-pgservice.html
https://www.postgresql.org/docs/

[2021-10-05 13:04] davecramer opened #2279 "Document how to run a procedure in 14"
From the list
[code]

[2021-10-06 13:27] MarekUniq commented on #2278
I think I miss some steps

I have a clone:
[code]

I have branch:
[code]

I did commits.
I did pull of master and rebase.

Using "idea", branch push command gives the following error:
[code]

[2021-10-06 15:58] davecramer commented on #2278
fixes #2282  works :)

[2021-10-07 15:50] marcmuel opened #2284 "Caution: PgConnection / PgResultSet ist not Thread safe!!"
I found a strange Exception one of our java services:
`Caused by: java.lang.ArrayIndexOutOfBoundsException: 1111
	at sun.util.calendar.BaseCalendar.getCalendarDateFromFixedDate(Unknown Source)
	at java.util.GregorianCalendar.computeFields(Unknown Source)
	at java.util.GregorianCalendar.computeTime(Unknown Source)
	at java.util.Calendar.updateTime(Unknown Source)
	at java.util.Calendar.getTimeInMil

[2021-10-08 07:18] marcmuel commented on #2284
Thank you for this hint. But this documentations states:
"A notable exception is org/postgresql/jdbc/TimestampUtils.java **which is threadsafe**."

Of course my issue shows that TimestampUtils is not thread safe.

But it seems not very difficult to make it thread safe again. Just make all the public methods synchronized and get rid off the public getSharedCalendar-Method.

[2021-10-08 08:04] #2284 closed, assigned to nobody

[2021-10-08 12:16] sehrope opened #2287 "Omni CI build broken by latest merges"
The omni CI build broke from a couple of the latest merges into master. Looks like it's a couple of tests for things like `jsonb` that need to be disabled on older versions: https://github.com/pgjdbc/pgjdbc/runs/3835349617?check_suite_focus=true#step:11:1367

I've got a PR to fix it and will push it once I run it once on my fork. Opening this issue so nobody else has to double effort and I'll clos

[2021-10-08 12:42] sehrope opened #2288 "Missing password causes SCRAM auth to give confusing and unhelpful error message"
If the server requests SCRAM authentication but the user has not supplied one, the current code throws an internal error as we try to cast the null password value to a not-null one for use in the SCRAM handshake.

We need to add a check similar to the MD5 one to ensure that the user has actually supplied a password.

Originally reported on the postgresql-jdbc mailing list:

https://www.postgresql.

[2021-10-08 13:37] #2287 closed

[2021-10-08 16:59] Shanmugapriya03 commented on #1901
Yes @davecramer
![image](https://user-images.githubusercontent.com/11372997/136595049-e35c6717-7723-4831-9b2d-b9d73c4a8bc5.png)

[2021-10-09 01:03] davecramer commented on #1901
Nobody else has reported this. Please let me know how this works out for you

[2021-10-09 08:14] fongie commented on #1901
Hi! We downgraded at first, but now we use one of the latest versions of this library with no issues.

[2021-10-10 14:43] davecramer opened #2292 "Publish nightly snapshots"
We used to publish nightly snapshots.

I think we can do this with github scheduled workflows

[2021-10-11 07:47] Shanmugapriya03 commented on #1901
@davecramer I couldn't figure out the root cause but still trying to fix it.. If you have any other suggestions let me know so that I can try them

[2021-10-11 21:47] Berbeza6183 opened #2296 "The link should be deleted. The RSS file was removed from the www repo (the precursor the docs/ path in this repo) in 2014: https://github.com/pgjdbc/www/commit/352f4711d267137257c2f5f9864b734316853418"
The link should be deleted. The RSS file was removed from the www repo (the precursor the docs/ path in this repo) in 2014: https://github.com/pgjdbc/www/commit/352f4711d267137257c2f5f9864b734316853418

I bet the link still working because whatever is deploying the web site is copying the latest www files atop the existing directory on jdbc.postgresql.org's web server. So the stale file has just b

[2021-10-11 22:07] #2296 closed, assigned to nobody

[2021-10-12 15:18] #2231 closed

[2021-10-12 23:40] esabol opened #2300 "SSLSocket duplex close failed"
We have a Tomcat 8.0.x web application that uses the PostgreSQL JDBC driver. We upgraded our JDK and PostgreSQL JDBC driver recently, and our catalina.out logs now show a lot of this:
[code]
Is this indicative of a problem? Should the JDBC driver code be catching this exception or should we? Thanks!

[2021-10-15 19:08] liuzqt opened #2307 "PSQLException: An I/O error occurred while sending to the backend in large query"
Please read https://stackoverflow.com/help/minimal-reproducible-example

**Describe the issue**
Sorry I was not able to provide a minimal reproducible example for now, might need some triage information to help me narrow down the issue.   This error happen during a very complicated transaction, the callstack:

[code]

I was executing a very large query, basicaly `select * from mytable where id in

[2021-10-15 19:11] davecramer commented on #2307
Hmmm interesting... not too many people would use 40k parameters. No way you can do a join on those ?

[2021-10-15 19:27] liuzqt commented on #2307
@davecramer it's just batch query some ids....I guess there is no way to join?

[2021-10-15 19:36] liuzqt commented on #2307
@lordnelson  I might also use bulk insert regarding the temp table, and if there're some query size limitations regarding sending too much data, I guess I will be facing similar issues when bulk inserting 40k ids?

[2021-10-17 02:08] liuzqt commented on #2307
@sehrope array sounds like a good plan, thanks!

[2021-10-18 21:34] liuzqt opened #2310 "postgres jdbc batch query composite PKs"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request

**Describe the issue**
This is a feature request, but I'm not sure whether this is already supported. Basically, I want to batch query by composite PKs.

let's say we have this table:

[code]

And I want to batch query composite PKs in jdbc.

If it's single PK, would be must easier:
[code]
should be able to do that.

But with compos

[2021-10-18 22:39] bokken commented on #2310
I wonder if you could use `unnest`[1] to pass 3 arrays and get them grouped into rows to be used in the from qualification.

[1] - https://www.postgresql.org/docs/13/functions-array.html

[2021-10-18 23:28] bokken commented on #2310
It also might be interesting to see what the execution plan is for the psql example you gave. With traditional in clauses, the plan treats the in list as an array. So the plan for a composite in list might give a hint on how to best structure the query.

[2021-10-19 09:30] riba2101 opened #2311 "Why is client time zone not configurable?"
in `org.postgresql.core.v3.ConnectionFactoryImpl#createPostgresTimeZone` the `paramList.add(new String[]{"TimeZone", createPostgresTimeZone()});` is basically hard coded? is there a reason why this is like this?

It could be easily configurable and would not require sessions?

[2021-10-19 12:55] davecramer commented on #2311
I'm unsure how this effects you. Can you elaborate. If you use timestamp with time zone then everything should "just work"

[2021-10-19 18:53] davecramer opened #2313 "remove section in manual about converting functions"
Pretty sure we don't convert functions from the JDBC spec names to something that would work in postgres, so either remove the section or fix the code

[2021-10-20 09:05] jorsol commented on #2313
Actually is used https://github.com/pgjdbc/pgjdbc/blob/master/pgjdbc/src/main/java/org/postgresql/jdbc/EscapedFunctions2.java but probably needs to be reviewed if all those functions are supported/translated.

[2021-10-21 11:54] davecramer opened #2315 "{ call function } is not translated correctly"
call syntax does not go through the escape processing path

[code]

results in the following SQL being presented to the server

` select * from ucase($1)  as result`

[2021-10-21 13:24] BeateSchatzmann opened #2316 "ResultSetHandler for PGPooledConnection"
**I'm submitting a ...**

- [ ] bug report
- [x] feature request

**Describe the issue**
It is really great that org.postgresql.ds.PGPooledConnection removes connections from the pool after a fatal SQLException!
Now I am using a lot of code that creates a ResultSet and in the end not only the ResultSet is closed but also the Statement from ResultSet.getStatement() and the connection from this stat

[2021-10-21 19:19] pvinokurov opened #2318 "Query is not cancelled in case of negative backend pid"
Hi,

I met an issue when a query is not canceled in the case of using pgbouncer. I found that a cancel request is not sent by returning after checking that `cancelPid` is positive:
[QueryExecutorBase.java#L173](https://github.com/pgjdbc/pgjdbc/blob/538c79f560097e0fc8fef460477fbaeaa71ebb19/pgjdbc/src/main/java/org/postgresql/core/QueryExecutorBase.java#L173)

The root cause is that PGBouncer sends

[2021-10-26 13:50] OrangeDog opened #2323 "Type definition of lo changed?"
**Describe the issue**
No longer able to map largeobject fields as Blob with JPA, as the type definition appears to have changed,

Possible cause: #2257

**Driver Version** 42.2.24

**Java Version** 11.0.11

**OS Version** Windows 10

**PostgreSQL Version** 12.8

**To Reproduce**
[code]

With Hibernate:
[code]

Registering it as a `Types.DISTINCT` gives a slightly different error:

With the raw dr

[2021-10-26 14:05] #2318 closed, assigned to nobody

[2021-10-27 05:40] brunoborges opened #2324 "Does JDBC Driver Supports TCPNoDelay?"
I see that the r2dbc driver supports setting TcpNoDelay to true (false by default).

Commit: https://github.com/pgjdbc/r2dbc-postgresql/commit/233f16e7ef029fdc7d9093267c6ea79423fb7166
Issue: https://github.com/pgjdbc/r2dbc-postgresql/issues/296

Are there plans to bring this to the JDBC driver as well? Is it supported already?

[2021-10-27 09:33] kustodian opened #2325 "Support pipelining queries"
**I'm submitting a ...**
- feature request

**Describe the issue**
Postgres 14 libpq added the [pipeline mode](https://www.postgresql.org/docs/14/libpq-pipeline-mode.html) so it would be great if JDBC also supported this feature which can significantly improve performance over high latency connections or for workloads with many small write (INSERT/UPDATE/DELETE) operations.

**PostgreSQL Version?*

[2021-10-27 14:59] NikolayMetchev opened #2326 "Upgrading postgres JDBC driver to 42.3.0 breaks big decimal read after 5 reads (only with Hikari)"
**Describe the issue**
f you have a numeric column in a postgres table with a value of 20000 and you read it 5 times on the 5th read it will read it as 2 instead of 20000.

This only breaks if you use the postgres jdbc driver version 42.3.0. If you revert to an older JDBC driver for postgres the bug doesn't manifest.

If you use pure JDBC and avoid hikari altogether the bug also doesn't reproduce.

[2021-10-27 16:17] #2323 closed, assigned to nobody

[2021-10-28 14:52] #2326 closed, assigned to nobody

[2021-11-05 13:07] davecramer commented on #2311
@riba2101 I'm not inclined to entertain this fix for what is essentially a development environment problem.

[2021-11-05 13:09] davecramer commented on #2215
fixed with https://github.com/pgjdbc/pgjdbc/commit/be1d4aa05f818a1d64a58462413ac1291858a2b2

[2021-11-05 13:09] #2215 closed

[2021-11-05 13:10] davecramer commented on #2196
fixed with https://github.com/pgjdbc/pgjdbc/pull/2228

[2021-11-05 13:10] #2196 closed

[2021-11-05 13:22] davecramer commented on #2169
Lack of feedback

[2021-11-05 13:22] #2169 closed

[2021-11-05 13:24] davecramer commented on #2229
@vlsi please close this if possible

[2021-11-05 14:42] davecramer commented on #2233
lack of response

[2021-11-05 14:42] #2233 closed

[2021-11-08 15:49] vlsi commented on #2229
All explain plans are the same, and they all show

[code]

So far it does not look like a pgjdbc-induced issue.

[2021-11-08 15:49] #2229 closed

[2021-11-10 11:30] dazito commented on #1360
Hi, I am reviving this issue because my application is running out of memory due to the `Finalizer` thread being on status `WAITING` on a `PgConnection` object.
It is waiting for an object to be unlocked

As the finalizer queue keeps growing the application will run out of memory.

My application is a simple REST api built with Spring Boot. At first it was using tomcat version 8. I switched to Und

[2021-11-10 13:39] davecramer commented on #1360
What version of the driver?

[2021-11-10 13:45] dazito commented on #1360
@davecramer we are using version 42.3.1

[2021-11-10 13:46] davecramer commented on #1360
Thx, Did this happen with 42.2.x ?

[2021-11-10 13:47] bokken commented on #1360
@dazito, what from the stack trace makes you think the finalizer thread is waiting on a PGConnection object?

It appears to me it is waiting on the reference queue lock.
https://github.com/openjdk/jdk/blob/master/src/java.base/share/classes/java/lang/ref/ReferenceQueue.java#L155

[2021-11-10 14:59] BOND12 opened #2337 "After several identical requests for a row from the database, instead of a row, I get a certain identifier"
**Describe the issue**
After several identical requests for a row from the database, instead of a row, I get a certain identifier.
This is observed after executing 5 queries in a row for the same long string with binary data.

**Driver Version**
postgresql-42.3.1
**Java Version**
openjdk 17 2021-09-14
OpenJDK Runtime Environment (build 17+35-Ubuntu-1)
OpenJDK 64-Bit Server VM (build 17+35-Ubuntu-1

[2021-11-10 16:12] davecramer commented on #2337
The underlying data is bytea. Use getBytes and then convert to string

[2021-11-10 16:12] #2337 closed

[2021-11-11 13:00] dazito commented on #1360
@davecramer yes, we were running version 42.2.5 when we started to see this OOM. We then upgraded the driver to version 42.3.1 but we keep seeing the OOM issue.

@bokken The reason I believe to be a PgConnection issue is because we get our memory full of `Finalizer` objects as seen here:
![image](https://user-images.githubusercontent.com/6021806/141301963-15ce846c-d6d4-43d4-930c-471bde2453af.png)

[2021-11-11 13:13] davecramer commented on #1360
Thx. At least this rules out any recent changes in our codebase.
I'm a little curious why we aren't seeing more of this from other users?

[2021-11-11 13:40] dazito commented on #1360
@davecramer I can only talk for myself, in my case we get the OOM at around 1 week of runtime. It will also depend on the memory allocation settings each user has.

So if we deploy frequently we would probably not notice this OOM issue.

Below you can see the memory consumption from one instance of our REST app:

![image](https://user-images.githubusercontent.com/6021806/141307777-afede333-edca-46

[2021-11-11 13:46] davecramer commented on #1360
Fair enough. The challenge for us is that we don't see this often so it is hard to debug.

Is it possible that you are not returning connections somehow ?

What do the postgres logs show ?

pg_stat_activity may be able to help here.

[2021-11-11 21:55] bokken commented on #1360
That you are seeing lots of PGConnection objects in the finalizer queue really only means that you are de-referencing lots of PGConnection objects.
At first glance, this actually appears to be either a defect in the jre or a thread priority/starvation issue. The finalizer thread should /not/ spend any meaningful time in wait (where your thread dump was) if objects are available in the queue.

[2021-11-12 17:32] #2060 closed

[2021-11-15 16:17] #1537 closed

[2021-11-15 16:32] davecramer commented on #2311
closed will not fix

[2021-11-15 16:33] davecramer commented on #2292
done for the most part except not nightly

[2021-11-15 16:33] #2292 closed

[2021-11-16 00:48] Colonel-Rogue opened #2342 "Treat spaces like line separators in SingleCertValidatingFactory init"
**I'm submitting a enhancement**

- [ ] bug report
- [x] feature request

**Describe the issue**
Currently when trying to init a `SingleCertValidatingFactory` with an environment variable, if that environment variable contains spaces instead of line separators, the init fails. Environment variables shouldn't contain line separators but PEM format and the x509 factory require line separators to del

[2021-11-16 14:34] davecramer commented on #2324
Closed with #2341

[2021-11-16 14:34] #2324 closed

[2021-11-16 14:35] davecramer commented on #2307
nothing to do here

[2021-11-16 14:35] #2307 closed

[2021-11-16 17:05] davecramer commented on #2300
Closing due to lack of activity. Please reopen if you have more information

[2021-11-16 17:14] davecramer commented on #2267
closed with 51c70a9576654

[2021-11-16 17:14] #2267 closed

[2021-11-16 17:19] davecramer commented on #2109
closing ... nothing to do here

[2021-11-16 17:19] #2109 closed

[2021-11-17 03:07] esabol commented on #2300
I provided all of the information that was asked for! What more do you want to know?

[2021-11-17 03:08] esabol commented on #2300
Also, I don't seem to have the ability to reopen the issue. If you do, please reopen.

[2021-11-17 10:22] davecramer commented on #2300
Apologies. And it turns out we don't check to see if it is closed already. I'll sort this out today. Thanks

[2021-11-17 17:00] esabol commented on #2300
It still seems weird that we only started seeing this when we switched to 42.2.24 and JRE8, but, if this fixes it, I'll be happy. Thanks for all your efforts!

[2021-11-18 04:03] esabol commented on #2300
Fix merged, so I'm closing. Thanks! I'll confirm the fix after the next release.

[2021-11-18 04:03] #2300 closed

[2021-11-18 11:44] davecramer commented on #2300
You should be able to try this with snapshots. I just created one.

[2021-11-18 13:34] davecramer commented on #2278
closed with #2347

[2021-11-18 13:34] #2278 closed

[2021-11-18 14:10] davecramer commented on #2342
So I guess I need to see the reference material from these cloud providers to see what they are doing and how.

[2021-11-18 14:11] davecramer commented on #2275
@judahrand can this be closed ?

[2021-11-18 14:12] #2225 closed

[2021-11-19 11:29] Sanne commented on #2023
Hi all,

unfortunately I don't have any good suggestion about how to fix this; just wanted to mention that not respecting the JVM restrictions on such modules is also going to bite people running on GraalVM's native-images.

I've developed a workaround for Quarkus:
 - https://github.com/quarkusio/quarkus/pull/21550

Hopefully this might get some attention from the OpenJDK folks; perhaps someone he

[2021-11-19 11:32] Sanne commented on #2023
by @davecramer :

IMO this sounds very reasonable. Sometimes checking filesystems also is a waste of time :)

[2021-11-19 12:04] davecramer commented on #2023
@Sanne So the reason it does it by default is because this is what libpq (C library for pg) does. The goal here is to provide the user with a somewhat "seamless" experience.

[2021-11-22 09:05] wyrzyk opened #2350 "Connection leak in ConnectionFactoryImpl#tryConnect"
`ConnectionFactoryImpl#tryConnect` creates a new `PGStream` and establishes connection with the database, later it calls `ConnectionFactoryImpl#doAuthentication`. If `ConnectionFactoryImpl#doAuthentication` fails with an exception (for example 'too many connections for role'), then we can't use the connection, because  PGConnections doesn't have queryExecutor and the socket is not closed. The sock

[2021-11-22 11:47] BeateSchatzmann commented on #2316
Hi Dave,
sorry that I did not reply earlier.

Please have a look at

org.postgresql.ds.PGPooledConnection.ConnectionHandler.invoke(Object, Method, Object[]), org.postgresql.ds.PGPooledConnection,
// line 295:
if (methodName.equals("close")) {
...
// line 316:
    fireConnectionClosed();

and then org.postgresql.ds.PGPooledConnection.fireConnectionClosed(),
// line 171:
...
ConnectionEventListener[

[2021-11-22 22:44] davecramer commented on #2235
@bizen-ya Can you let me know if this is working for you ? https://github.com/pgjdbc/pgjdbc/pull/2352

[2021-11-23 10:28] pabloblascomartinavarro opened #2353 "RollBackTransaction instead SQLException"
**I'm submitting a ...**

- [X] bug report
- [ ] feature request

**Describe the issue**
A clear and concise description of what the issue is.

I have two transactions : parent transaction and another child transaction opened by annotation in method header:

@TransactionAttribute(Transaction.tx.REQUIRED_NEW)
public void storeTx(ElementDTO elementDTO) throws SQLException{
try{
     elementDAO.store

[2021-11-23 13:26] bokken commented on #2353
Set connection property `autosave` to `always`

[2021-11-23 16:02] pabloblascomartinavarro commented on #2353
it's the first thing i tried, but the same effect. The difference between oracle driver behaivor that oracle was aborted with the first sql error and postgres driver give me the error on the commit.

[2021-11-23 16:03] pabloblascomartinavarro commented on #2353
Thanks for your reply

[2021-11-23 16:05] jerboaa commented on #2023
@davecramer This code should do what you want by using only `Krb5LoginModule` API.

[code]

And without a ticket:

[code]

[2021-11-23 16:09] jerboaa commented on #2023
Draft PR here: https://github.com/pgjdbc/pgjdbc/pull/2354

I haven't tested this, though. So feel free to run with that or drop it :)

[2021-11-23 16:09] davecramer commented on #2023
Yes, the problem with this code is that it is slow. The current implementation checks for the ticket cache before every connection attempt. I tried this with the first iteration and it caused a regression. Now I suppose we could check to see if the user has set any other GSS properties before doing this check I suppose that might be sane.

[2021-11-23 16:29] jerboaa commented on #2023
@davecramer If performance is the concern, can't the user just set `gssEncMode = {disable, require}` and not perform the check in those cases? Use cases seem a bit contrived to be honest. Current code with JDK 17 will not run:

[code]

If I compile with JDK 8 and then try to run with JDK 17 I get:

[code]

[2021-11-23 16:31] jerboaa commented on #2023
See https://openjdk.java.net/jeps/403

[2021-11-23 16:33] davecramer commented on #2023
Oh, I'm aware of the issues. As I said we should probably qualify checking for a cache only if the user has set some other GSS properties then we can take the hit for checking for the cache this way. I think one would also want to set the use_native property

[2021-11-23 16:44] jerboaa commented on #2023
Glad to hear it. All I wanted to provide is that there is a way to do this checking with JDK provided API if it absolutely **must** be done (which seems questionable, TBH). So it's either not being compatible with a released JDK version or some performance penalty, or not doing the check (and slightly depart how libpg behaves). Hopefully this can get sorted out soon. Ideally it should be a compati

[2021-11-23 16:46] davecramer commented on #2023
The reason we check by default is that the user really shouldn't have to ask to check. The idea being that if the user has a ticket cache then we attempt it. Unfortunately java makes this difficult.

[2021-11-23 16:54] jerboaa commented on #2023
So don't. Use the JDK compatible way to do this, print a warning with a suggestion that explicitly enabling/disabling encryption might be faster :)

I believe there are enough options to get past this. Question now is which way to go with the given pros/cons of either approach.

[2021-11-23 17:35] Sanne commented on #2023
@jerboaa understood, but the user's convenience is also very important; it's not ideal that people need to go through such hops just because the JDK requires extra steps.

Ideally if you could help bringing this need to the attention of the JDK team that would be an even better way forward: I understand why the JDK is "sealing off" internal APIs, yet it would seem in this case a new public API sho

[2021-11-23 17:42] davecramer commented on #2023
@Sanne thanks for this. There does seem to be some consideration in the GSS API for the notion of using native methods. Ideally if they just added a check for an existing cache using the native method I'd be happy. But ya, lots of different requirements and I would imagine Postgres is a bit unique here.

[2021-11-23 18:10] jerboaa commented on #2023
FWIW, I've shown an example which would be 100% equivalent - convencience wise - to existing code. There was a performance concern, which could be handled by adding explicit config.

When trying to bring this to the attention of OpenJDK developers, we'd need good arguments to warrant new exposed API. Maintaining such an API in the JDK comes at a cost too. So the cost/benefit equation needs to be r

[2021-11-23 19:10] bokken commented on #2353
Your logs explicitly state `autosave=never`.

Perhaps I am not quite understanding what behavior you are expecting and what behavior you are reporting.

From the linked logs I do observe:

If those messages are all for the same connection/transaction, then I am a bit confused by the "no transaction in progress" message.

[2021-11-24 08:13] pabloblascomartinavarro commented on #2353
Yes i remove this connection property "autosave"  because this dont do anithing on my case.

I am expecting an sqlException not a RollbackException (I cant get the sql error from RollBackException) , i want abort the transaction with the first sql error and get this sql error.

Thanks

[2021-11-24 13:07] davecramer commented on #2353
You should actually get an SQLException from the first error.
After that the RollbackException is a little unusual but the way PostgreSQL deals with commits after an error occurs.

It would be really useful if you could provide a very simple piece of code that we could easily debug.

[2021-11-24 13:12] davecramer commented on #2023
As mentioned the idea here is to make sure there is actually a ticket in the cache before attempting the GSS encryption dance. Corner case ? Maybe. I have to admit to not being too experienced with GSS_API and or Kerberos. Either way getting postgres to change this behaviour is probably a hill I don't want to die on.

As for being too slow. I can't find the issue now but will get some performance

[2021-11-24 13:52] jerboaa commented on #2023
Great, thanks! Much appreciated.

[2021-11-24 14:40] bokken commented on #2023
@davecramer, your [comment](https://github.com/pgjdbc/pgjdbc/issues/2023#issuecomment-767785249) above (from  January) shows some comparison results.

[2021-11-24 15:35] davecramer commented on #2316
@BeateSchatzmann can you check to see if #2355 fixes your issue please ?

[2021-11-24 16:03] davecramer commented on #2023
@bokken thanks. I was pretty sure I had measured this.
So I did a fairly simple test using both methods and iterating 10000 times I get the following result. This is with no cache available.

java time (ns): 523127
native time (ns): 417051

This is less than a millisecond so there may not be an issue.

[2021-11-24 16:17] davecramer commented on #2023
so .. testing when there is a cache available...

java time (ns): 37270
native time (ns): 1915

[2021-11-24 17:05] davecramer commented on #2350
closed with PR #2351

[2021-11-24 17:05] #2350 closed

[2021-11-26 01:04] faespsenar commented on #2326
Unfortunately PostgreSQL JDBC 42.3.1 is causing connection leaks with Hikari and C3p0

[2021-11-26 02:31] davecramer commented on #2326
On Thu, Nov 25, 2021, 8:05 PM Dennys Santos Sobrinho <
***@***.***> wrote:

Do you have any other information? This isn't enough to diagnose the issue

[2021-11-26 13:48] davecramer opened #2359 "Unfortunately PostgreSQL JDBC 42.3.1 is causing connection leaks with Hikari and C3p0"
### Discussed in https://github.com/pgjdbc/pgjdbc/discussions/2357

<div type='discussions-op-text'>

<sup>Originally posted by **faespsenar** November 25, 2021</sup>
I recently updated the driver version to version 42.3.1 and started having problems with connection leakage, both using HikariCP and C3p0.

PostgresSQL 14.1
PostgreSQL JDBC 42.3.1 (JDBC 4.2)
Hibernate 4.3.11.Final

I went back to ver

[2021-11-29 19:22] madorb commented on #1868
should this work without further configuration on new versions now?

[2021-11-29 19:58] davecramer commented on #1868
@madorb As far as I know it should work fine now

[2021-11-30 13:26] adetunjiakintundeakinde commented on #1360
We also experience the memory leak issue on our Java app.

[2021-11-30 13:27] davecramer commented on #1360
I need a reproducer.

[2021-11-30 13:27] adetunjiakintundeakinde commented on #1360
<img width="1078" alt="Screen Shot 2021-11-30 at 2 25 28 PM" src="https://user-images.githubusercontent.com/21359496/144055755-bad3e2a7-e5b9-4dbb-87ee-3150e18d7065.png">

[2021-11-30 13:30] adetunjiakintundeakinde commented on #1360
@davecramer Thanks for responding..How do you think we can reproduce this?

[2021-11-30 14:37] jorsol commented on #1360
Ok, I'm thinking that the easiest solution is to remove the `finalize()` method from PgConnection, IMO has more drawbacks than advantages.

[2021-11-30 14:46] davecramer commented on #1360
Well it really hasn't been an issue until now. Something has changed. I'd rather understand the root cause before just removing it.

[2021-11-30 15:04] jorsol commented on #1360
I'm just guessing, but it looks like if you open many connections and don't close them, and depending on the memory pressure the finalizer kicks in and could leave the connections in a pending finalization state.

I bet it hasn't been an issue for applications that handle few connections and applications that close connections properly, the `finalize()` is the poor man's handling of connections th

[2021-11-30 15:07] jorsol commented on #1360
Just to check @adetunjiakintundeakinde can you please add the property `logUnclosedConnections=true` to your application and check in the logs for "`Finalizing a Connection that was never closed`", if you see this, you might need to manually close the connection yourself and try again to check if the problem persists.

[2021-11-30 15:18] adetunjiakintundeakinde commented on #1360
@jorsol Will try to do that

[2021-11-30 15:20] jorsol commented on #1360
To add some more info on why using finalizers is a bad idea: https://wiki.sei.cmu.edu/confluence/display/java/MET12-J.+Do+not+use+finalizers

Also, object finalization has been deprecated on JDK 9, and [JEP 421: Deprecate Finalization for Removal](https://openjdk.java.net/jeps/421) is proposed to target JDK 18.

[2021-11-30 15:48] adetunjiakintundeakinde commented on #1360
@jorsol So we use hikari and set the leakdetectionthreshold to 2 seconds https://askinglot.com/what-is-leakdetectionthreshold.  We currently don't see any leak detected in our logs.

[2021-11-30 16:04] bokken commented on #1360
@jorsol/@davecramer, I am in favor of getting rid of the finalize method, but it must be replaced with something else which will track objects being de-referenced/abandoned without closing so that we can ensure the sockets do get closed out correctly.

[2021-11-30 16:10] jorsol commented on #1360
@adetunjiakintundeakinde can you try again but using the connection property from the driver? `logUnclosedConnections=true`

[2021-11-30 17:42] madorb commented on #1868
ah, could this ticket be updated then? i haven't bene following along closely, just checking on the status of this ticket tbh.

[2021-11-30 17:48] davecramer commented on #1360
fixed with pr #1883

[2021-11-30 17:48] davecramer commented on #1868
fixed with pr #1883

[2021-11-30 17:49] #1868 closed

[2021-12-01 09:03] adetunjiakintundeakinde commented on #1360
@jorsol Will try to do and provide feedback.

[2021-12-01 12:02] adetunjiakintundeakinde commented on #1360
@jorsol I added the logUnclosedConnections=true..no leaks seen

[2021-12-01 12:09] jorsol commented on #1360
So, your problem might be different from the first one posted.

Are you able to reproduce the issue somehow? can you share the code to reproduce the issue?

[2021-12-01 12:15] adetunjiakintundeakinde commented on #1360
@jorsol What is similar is that we see a lot of `Pending Finalization` regarding the PostgresConnection when we checked our thread dump. We use jooq and hikari like this setup https://www.baeldung.com/jooq-with-spring .

[2021-12-01 12:39] adetunjiakintundeakinde commented on #1360
We basically have a lot of PgConnection object pending finalization even though the connection has been closed

[2021-12-02 07:42] aditsu commented on #1420
Well, one problem is that `getParameterMetaData` followed by `getParameterType` gives `Types.VARCHAR` for the enum column. Then it doesn't accept the same `Types.VARCHAR` when doing `setObject` and executing the statement.
At least if `getParameterType` returned `Types.OTHER`, it could be handled automatically.

[2021-12-02 07:50] praiskup opened #2361 "Should we migrate the Fedora CI to GitHub Actions?"
I noticed that Travis doesn't work in this repo anymore.  Would you mind if
we moved the FEDORA_CI=Y test-case to GitHub Actions?

[2021-12-02 07:55] davecramer commented on #2361
No issue for me.

[2021-12-02 10:30] davecramer commented on #1420
Ya, we have challenges with enum.

@aditsu can you give me an example of what you are trying to do ?

[2021-12-02 11:05] aditsu commented on #1420
I have a kind of ORM, and automatically creating a prepared statement to (e.g.) insert an object into the database. It uses `getParameterMetaData` to figure out how to set the parameters.

[2021-12-02 11:49] davecramer commented on #1420
Got it, so there's no way for the driver to know that "red" is really an enum. The best you can do is setObject(n,"red",Types.Other)

[2021-12-02 12:32] sehrope commented on #2361
+1

[2021-12-02 16:07] praiskup commented on #2361
We are a few years after the initial CI I submitted, and now I would prefer
to also propose a CI for pull-requests (not only pushes) if you don'ŧ object.

There are currently two options:

1. use Packit service https://packit.dev/  This is easier for
   configuration (probably, I've never configured a custom source RPM
   script there, but I would take a look).  This would require you to
   grant

[2021-12-03 13:15] david-sauvage commented on #1431
Sorry to use that old issue but I feel like I have a memory issue with my project and I know I have some extremely long queries because I insert or update a field with a very long string.
@vlsi what is wrong with having very long queries ?

[2021-12-03 14:55] davecramer commented on #1431
Why do you think you have this issue?

When you say long. How big?

[2021-12-06 06:23] aditsu commented on #1420
For the record, this was not a problem with older versions of the driver, e.g. version 9.2-1003 was working fine (but fails with double-digit pg server versions instead, because it doesn't check version numbers correctly)

[2021-12-06 06:35] aditsu commented on #1420
Specifically, that older driver was giving me `Types.OTHER` in the parameter metadata. So yes, there is a way for the driver to know that the column type is an enum.

[2021-12-06 08:14] david-sauvage commented on #1431
Actually, I'm not sure if it's this issue specifically or this one : https://github.com/pgjdbc/pgjdbc/issues/1360
I was interested by this issue, because as I said I have pretty long queries due to updating very long varchar (close to 1 million characters for the biggest ones)

Here is what brought me on the pgjdbc repo :
![image](https://user-images.githubusercontent.com/506289/144810634-87c744c1

[2021-12-06 12:07] davecramer commented on #1420
My recollection is that for setObject it did Types.Other for everything. The driver doesn't know anything about the underlying tables when you call setObject.

[2021-12-06 12:13] davecramer commented on #1431
Well we don't have a concrete plan on how to remove the finalizer, but I suppose we can create a new branch and provide snapshot if you can test it ?

[2021-12-07 11:08] jerboaa commented on #2023
I've tried a JMH benchmark comparing the two implementations. Here is what I've got:

JDK 11.0.13, OpenJDK 64-Bit Server VM, 11.0.13+8

TGT existing:
[code]

TGT **not** existing:
[code]

Looks like there is an order of magnitude difference for the case where the TGT doesn't exist (`~2.7 us` vs `~22.4 us`), while there is only `~8 us` difference when a TGT exists. Note that baseline is the empty m

[2021-12-07 12:51] jorsol commented on #2023
Ok, this is an interesting benchmark, so the main difference when TGT  doesn't exist is about `~20 us`.

Honestly, here we are talking about `~20 microseconds`, even if the difference was `~100 us`, that is less than `1 millisecond`!!! so, does it make sense to use an API that simply doesn't work in newer JDKs, just to squash less than 1 ms of performance? I don't think so.

[2021-12-07 13:13] davecramer commented on #2023
On Tue, 7 Dec 2021 at 07:51, Jorge Solórzano ***@***.***>
wrote:

Here are the results on my machine where the ticket does not exist. macos.
We would also need to test windows.

Benchmark                              Mode  Cnt      Score     Error  Units
KrbTicketBenchmark.baseLine            avgt    5      0.002 ±   0.001  us/op
KrbTicketBenchmark.internalJDKApi      avgt    5    588.770 ± 160.73

[2021-12-07 13:16] bokken commented on #2023
I agree that differences in 10s of microseconds should not be a blocker in moving from internal/proprietary to the public api.
As a small optimization over what @jerboaa had in his jmh, the CallbackHandler could be a constant.

[2021-12-07 13:27] davecramer commented on #2023
So I'm curious why we ended up here in the first place then. Surely at the time there was a valid reason.

[2021-12-07 14:01] davecramer commented on #2023
OK, so the only thing that makes sense at this point is that my original attempt was wrong. I'll fix this today
@jerboaa thx!
Of course I'll be waiting for the reports with slow connections :)

[2021-12-08 22:54] yiga2 opened #2364 "Outdated compile instructions"
Please update the documentation/instructions on how to build the `jar` driver - tested on `42.3.1` - which should be replicated in github in my mind.

1. there is no `pom.xml` anymore so issue https://github.com/pgjdbc/pgjdbc/issues/2002 manifests itself again (+ multiple no references in IntelliJ)
2.  `./gradlew build -DskipTests` to compile as described [here ](https://jdbc.postgresql.org/develo

[2021-12-08 22:58] davecramer commented on #2364
You must have something setup in your local gradle config that asks for an AWS credential profile as I don't have this issue at all.

[2021-12-08 23:22] yiga2 commented on #2364
My bad @davecramer , I was trying to compile with Amazon's Corretto 17, which must be related to the issue. Trying with Oracle's 1.8.311 now...

[2021-12-09 03:04] yiga2 commented on #2364
many files having `crlf` instead of `lf` as EOL was one issue, Corretto 17 instead of Oracle 1.8 another, but still struggling with making gradle work as doesn't recognize a package from a dependency (private jar).
Closing and reached out to upwork for help.

[2021-12-09 03:04] #2364 closed

[2021-12-09 10:51] davecramer commented on #2364
@yiga2 I'm not sure how you managed to have so many issues. We build this on a regular basis on all kinds of hardware and different java versions with no issues ? None of the files have `crlf` that I am aware of

[2021-12-09 14:57] yiga2 commented on #2364
no worries @davecramer - the blame is totally on me and my amateurism as I just don't know who to add properly a jar dependency (fyi, a Parser factory used for sql "massaging") using gradle. Was difficult to me using maven back then and I touch java very seldom. Have reached out to help - if need be, will post on SO as a generic question as unrelated to pgjdbc. Thank you however for your prompt re

[2021-12-09 15:25] jerboaa commented on #2023
FYI: @davecramer put a PR out to fix this here: https://github.com/pgjdbc/pgjdbc/pull/2363

[2021-12-09 17:01] pabloblascomartinavarro commented on #2353
Hello, i try to create a Test for this but the example runs fine, the unic diference the real code and the example is that : the example dont have a hibernate. The other thing its the real case is run over wildfly 8.1

[TxTransactionRollBackExceptionTest.txt](https://github.com/pgjdbc/pgjdbc/files/7687016/TxTransactionRollBackExceptionTest.txt)

Rewards

[2021-12-10 12:27] davecramer commented on #2353
thanks, I will have a look. As for the entityManager, I have no idea ..

[2021-12-10 15:14] davecramer commented on #2023
So fixing your test so that it actually works results in the following numbers.

The problem with the benchmark as provide was that it was throwing exceptions early. The first one was

"No loginModule provided"

Once that is fixed then you get

"Unable to get principal"

If you provide a compatible jaas.config

[code]
 and then change the code to

private static String CONFIG_ITEM_NAME = "pgjdbc";

[2021-12-10 15:54] davecramer commented on #2023
So I am back to contemplating my original solution which is to load some classes dynamically. The default will be to ignore GSS encryption. We can either look at the KRB5* properties to see if we want to do something. The user would have to set these in order to configure their setup, or we can provide a property. Or both.
So hypothetically we could query for `java.security.auth.login.config` bein

[2021-12-10 18:05] jerboaa commented on #2023
What are we trying to compare, though? We want to compare:

[code]

... with equivalent, not-JDK-internal-API-using-code, right? Not more, not less.

So, in my understanding this is no longer "roughly" equivalent to ` sun.security.krb5.Credentials.acquireTGTFromCache(null, null) != null;` It does a lot more.

I still believe that if the equivalence of code in https://github.com/pgjdbc/pgjdbc/issue

[2021-12-10 18:11] davecramer commented on #2023
Yes, it does more, but eventually they will want to actually connect. So the config has to be correct.

I'm still testing. Thanks for your feedback

[2021-12-10 18:27] jerboaa commented on #2023
Sure, but I don't see how that's different to the code in use today. The config for the cache check and the actual login does not need to be the same. Existing code would not regress.

First there is a check for the cache here:
https://github.com/pgjdbc/pgjdbc/blob/master/pgjdbc/src/main/java/org/postgresql/core/v3/ConnectionFactoryImpl.java#L445

Then actually doing the full login here:
https://g

[2021-12-10 19:03] yiga2 commented on #2364
Full disclosure if anyone faces the same - the `crlf` were due to `git` auto-converting when cloning on Windows. Had forgotten that. see https://stackoverflow.com/questions/1967370/git-replacing-lf-with-crlf
Also built successfully after adding our custom dependency with `implementation()` in `build.gradel.kts`

[2021-12-11 18:07] yiga2 opened #2365 "ScramParseException on 42.3.2 snapshot"
I added a ParserFactory to the code and the driver compiles fine and produces the `jar` with ` ./gradlew assemble`.
However when testing/using the jdbc driver from an app e.g. DBeaver, it raises error:
[code]
with no further details on what and where the parsing error occurred. Not sure why Scram is used in my case as I don't use password encryption.

**Driver Version?**
42.3.2-SNAPSHOT
**Java Ver

[2021-12-11 18:12] davecramer commented on #2365
Not sure how we can help you here without seeing your code ?

[2021-12-13 15:52] yiga2 commented on #2365
DBeaver does not say more on the front-end so I thought it was possibly a known issue or something obvious. Looking at the DBeaver log, it turns out missing dependencies error, which made me realize I picked to wrong `jar` - it should have been `postgresql-42.3.2-SNAPSHOT-all.jar`, not `postgresql-42.3.2-SNAPSHOT.jar`. The driver now works just fine !

[2021-12-13 15:52] #2365 closed

[2021-12-14 08:08] david-sauvage commented on #1431
What would be the point of testing a snapshot if in the end the finalizer won't be removed ? 😅
My first comment was more about knowing what is wrong with long queries in order to maybe find another way to do what I'm doing with a better memory footprint

[2021-12-14 13:04] davecramer commented on #1431
To find out if that is the real issue. We currently don't have a way to replicate it. I'm fairly certain finalizer will be going away once we figure out if/how to replace it.

[2021-12-14 23:43] yiga2 commented on #716
Not sure this is fixed actually. Just tried with `42.3.2` snapshot and `DATA_TYPE` 12 (mapped from `String`) still returns `name` as first match, instead of `varchar` as per the specs.
The result is that a 3rd party app we use builds DDLs like `create table xxx name(10)` which is incorrect (and invalid).
Please reopen if confirmed.

[2021-12-15 06:39] luohengyi commented on #1508
So did I：
"quartzScheduler_Worker-1" #27 prio=1 os_prio=0 tid=0x00007faef8268000 nid=0x22 runnable [0x00007faead7e1000]
   java.lang.Thread.State: RUNNABLE
	at java.net.SocketInputStream.socketRead0(Native Method)
	at java.net.SocketInputStream.socketRead(SocketInputStream.java:116)
	at java.net.SocketInputStream.read(SocketInputStream.java:171)
	at java.net.SocketInputStream.read(SocketInputStrea

[2021-12-15 16:59] dirkluijk opened #2366 "org.postgresql.util.PGobject is in unnamed module of loader 'app'"
Please read https://stackoverflow.com/help/minimal-reproducible-example

**Describe the issue**
A clear and concise description of what the issue is.

**Driver Version?**
42.2.23 and 42.2.24

**Java Version?**
openjdk 15.0.1

**OS Version?**
Mac OS

**PostgreSQL Version?**
Postgres 10

Since version `42.2.23` we get this error:
[code]
maybe it's related to
https://github.com/pgjdbc/pgjdbc/issues/2

[2021-12-15 17:22] davecramer commented on #2366
Do you have the rest of the exception. I'd like to see what happens before this is thrown.

[2021-12-15 18:00] dirkluijk commented on #2366
I checked, the code was was doing something like this:

[code]

I changed it to:
[code]
That fixed it. Which is fine for us, but maybe good to know that it was a breaking change.

[2021-12-15 18:30] dirkluijk commented on #2366
It also seems to affect enum arrays. I looks like it's now automatically returned like an array of strings instead of a `PGobject` (which is actually an improvement imho). 😄

[2021-12-15 22:17] yiga2 commented on #716
As mentioned earlier, a not-so-hacky way actually to achieve this is to:

1.  map `text` to a better matching `SqlType`, namely `LONGVARCHAR` since it is unlimited. This means in `TypeInfoCache`, `types` array:

[code]
2. as for `name`, it should not be listed as a mappable type. As per https://www.postgresql.org/docs/current/datatype-character.html#DATATYPE-CHARACTER-SPECIAL-TABLE, it is not for

[2021-12-16 20:32] davecramer commented on #716
So, finally had a chance to look at this and
1) text is not unlimited.
2) Not sure I agree with name, but I do agree it is out of order. There are many types in there that will not be used by DDL statements.

[2021-12-17 14:00] davecramer commented on #2325
I'm not even sure how you would use this in JDBC? It's not asynchronous at all

[2021-12-17 16:39] vlsi commented on #2325
We can try inventing a better "prepared statement batching".

1. JDBC spec requires that batch is executed only with `executeBatch` call. In other words, the spec does not allow sending queries earlier. We could do better if we were allowed to send queries as soon as the user calls `addBatch`. Unfortunately, the spec allows for `clearBatch` method, so eager sending should be opt-in (e.g. via speci

[2021-12-17 16:55] davecramer commented on #2325
Good catch, I hadn't thought about the batching stuff. It would certainly be non-standard. The question becomes who has the bandwidth to implement this ?

[2021-12-20 11:07] pabloblascomartinavarro commented on #2353
I found the error, we migrated oracle database to postgre and the migration tool transform the fk with deferred and deferrabled activated. we get with this properties activated a RollBackException instead of a SQLException.

Thanks for all.

[2021-12-20 12:23] davecramer commented on #2353
@pabloblascomartinavarro

Thanks for letting us know FYI. We never use 'Postgre' it is Postgres or PostgreSQL...

[2021-12-20 12:23] #2353 closed

[2021-12-21 07:06] pabloblascomartinavarro commented on #2353
ok ok... sorry, PostgreSQL I know it ;)

[2021-12-22 22:43] liuzqt commented on #2310
@bokken the unnest works well for me!

below is the explain for running the query
[code]

where the `(map_id, element_id)` is the composite PK in my table

[2021-12-23 01:53] bokken commented on #2310
Excellent.
Does that cover all of your request (and issue can be closed)?

[2021-12-23 15:34] afel commented on #2227
I can confirm the bug.
We are getting this error from time to time in production.
The bad side is there is no way to dynamically overwrite fetchSize without restarting the app (neither `connection.setFetchSize(0)` nor `resultSet.setFetchSize(0)` works)

Could you guys please tell is it a Driver problem or a PostgreSQL server itself?

[2021-12-23 15:47] davecramer commented on #2227
What version of PostgreSQL is this. I am searching the source code for 'no known snapshots' and can't find it ?

[2021-12-23 15:55] afel commented on #2227
Here is a better formated steps to reproduce the bug

# Create test table and fill it with data
[code]

# Create test class
Create file named Main.java: (change the URL and credentials)
[code]

# Compile and run
1. Add the driver jar right near the Main.java file (eg postgresql-42.3.1.jar)
2. Compile class with command `javac Main.java`
3. Run the app with command `java -cp .;postgresql-42.3.1.jar

[2021-12-23 16:01] afel commented on #2227
I got the "ERROR: cannot fetch toast data without an active snapshot" on PostgreSQL 14.0
And "ERROR: no known snapshots" on PostgreSQL 11.5

[2021-12-23 16:01] davecramer commented on #2227
@afel thanks for the test case.
Pretty sure this is an incompatibility with the driver and functions, but will confirm.

[2021-12-23 16:22] davecramer commented on #2227
Here's the comment from the backend code that is relevant. Still working on it, but notarizing as I go
[code]

[2021-12-23 17:49] davecramer commented on #2227
OK, found the issue, apparently we close the refcursor right away and only read 50 rows because of fetch size.

[2021-12-23 18:47] liuzqt commented on #2310
@bokken yes for sure, thanks for the help!

[2021-12-23 18:47] #2310 closed

[2021-12-23 20:38] davecramer commented on #2227
@afel https://github.com/pgjdbc/pgjdbc/pull/2371
Your test succeeds with this.
Thanks for the test case. Please test if you can. I will add the testcase to it shortly

[2021-12-24 12:08] afel commented on #2227
@davecramer
Thank you for the quick fix.
Since the real bug occurs only on production ENV, and is really hardly to reproduce (happens once or twice a month), I will be able to test it only using new pgjdbc release.
Will come here after a month or two to provide feedback

[2021-12-28 10:27] inhabitantNewCity opened #2374 "[Performance] Large Object's Input Stream (BlobInputStream) takes a lot of time due to read one by one in application level"
**Describe the issue**
In case really large object was stored in database (~90mb). we faced with issue to long read such object
![image](https://user-images.githubusercontent.com/14232186/147555211-b8b49693-4f07-4aea-8c54-fce291527771.png)
we use org.springframework.util.StreamUtils#copy(java.io.InputStream, java.io.OutputStream)
[code]
Most time was spent on read one by one by InputStream. Despit

[2021-12-28 12:26] davecramer commented on #2374
Seems reasonable, care to provide a PR?

[2021-12-30 09:19] geliotropvimd opened #2378 "Timer already cancelled when performing one of the data selection jobs"
**I'm submitting a ...**

- [x ] bug report

**Describe the issue**
I have a scheduler that launches tasks at certain intervals to select data from a database to transfer them to another. After working for several hours I saw the fall indicated below. The project itself was ported from apache to springboot where postgresql version 42.2.18 was used. After restarting, it was not possible to re-catch

[2021-12-30 10:20] vlsi commented on #1360
After spending some time on `PgConnection#finalize` I believe it is not really needed much: java's `Socket` would be closed anyway (e.g. by Java itself), so we don't rely on finalization for cleaning up server-side resources

So the missing bits are:
1) Logging on unclosed connections. In other words, if we notice an unclosed connection, we print the stacktrace where it was created.
2) De-registra

[2021-12-30 13:34] davecramer commented on #2378
My thought is that this is a threading issue. Are you sharing connections ?

[2021-12-30 16:32] geliotropvimd commented on #2378
This error was caused because outOfMemory was able to catch again but this time saw the beginning of the collapse. The question is cleared

[2021-12-30 16:32] #2378 closed

[2022-01-01 14:53] marschall opened #2384 "appveyor.yml still skips JRE 6 and 7"
**Describe the issue**
`appveyor.yml` still sets `pgjdbc.skip.jre6=true` and `pgjdbc.skip.jre7=true` but the current master only support JDK 8. I'm not super familiar with the build so I don't know if this can be removed without breaking the branches. See https://github.com/pgjdbc/pgjdbc/blob/54e5598ab34ed791d7682cfd8700be3e8b7b37e3/appveyor.yml#L56

**Driver Version?**
42.3.2-SNAPSHOT

[2022-01-02 04:42] hantsy opened #2387 "Pg enum type to Java enum is not supported."
Please read https://stackoverflow.com/help/minimal-reproducible-example

**Describe the issue**
 I created a `post_status` enum in Postgres, and defined the following schema.

[code]

In my Spring Jdbc example, I used the following `RowMapper` to read the data.

[code]

When run the application, and try to hit the /posts endpoints to get all posts, but failed due to exceptions like this.

[code]

[2022-01-02 12:39] sehrope commented on #2387
The pgjdbc driver does not have special handling for user defined enums. You would need to handle that translation yourself.

Part of the reason for this is that enums have both a name and an ordinal position in both Java and on the server, and there's no way for the driver to know exactly how to translate one type of value to the other.

For simple cases like Status.DRAFT to enum value 'draft' it

[2022-01-02 14:20] hantsy commented on #2387
@sehrope Thanks, got it work.

[2022-01-02 14:20] #2387 closed

[2022-01-03 20:48] #2374 closed

[2022-01-05 21:57] fivetran-rosalie-stevenson opened #2390 "forceUpdateStatus investigation/potential bug"
Please read https://stackoverflow.com/help/minimal-reproducible-example

**Describe the issue**
We are consistently unable to reach the end LSN when reading from a WALStream. If call PGReplicationStream#forceUpdateStatus, we are more likely able to reach the endLSN when reading from the stream. What is the purpose of that function?

**4..2.6**

**Java 8**

**Mac Big Sur - 11.6**

**PostgreSQL Vers

[2022-01-05 23:53] davecramer commented on #2390
this function tells the server where you have read to. see https://www.postgresql.org/docs/current/protocol-replication.html and search for Standby status update (F)

[2022-01-06 22:11] danthegoodman opened #2393 "Support database name in url with service parameter"
**Describe the issue**
`Driver.java:parseURL` treats this url `jdbc:postgresql:///somedb?service=myexample` as having a host and port specified in the URL (as a `priority1Url` property) instead of coming from the service file (as a `priority3Service` property)

**Driver Version?**
42.4.2-snapshot (built on 6631a41a19)

**Java Version?**
openjdk 11.0.13 2021-10-19

**OS Version?**
macOS 12.1

**Pos

[2022-01-06 22:34] davecramer commented on #2393
weird. Thanks for the report

[2022-01-06 23:04] davecramer commented on #2393
I'm guessing it has to do with PGHOST vs PG_HOST. Will check in the morning

[2022-01-07 10:00] hban opened #2394 "Cannot use GSS encryption without ticket cache"
**Describe the issue**
We're not using system's ticket cache - instead we're passing username and password directly to driver so that `Krb5LoginModule` can fetch its own TGT. This works fine for unencrypted connections - driver will successfully authenticate using GSS.

But, when setting `gssEncMode=require` driver will refuse connection attempt with _GSSAPI encryption required but was impossible

[2022-01-07 10:49] davecramer commented on #2394
This works the same way as psql. The logic was copied from it.  Is there some reason you can't use the ticket cache ?

[2022-01-07 12:21] hban commented on #2394
Docker image we use doesn't have Kerberos packages installed that are needed to create ticket cache, it only has OpenJDK. Using ticket cache is also more involved since we need to periodically re-execute `kinit` to refresh tickets. Having `Krb5LoginModule` acquire its own tickets it just much easier.

The main reason I asked for this is that driver (or Java's Kerberos implementation to be precise)

[2022-01-07 12:24] davecramer commented on #2394
OK, thanks. Honestly we copied psql because we really didn't know the use case.
The reason this is done is to avoid the round trip to see if GSS encryption is an option.
How do you feel about using one of the GSS properties to trigger the round trip ?

[2022-01-07 12:33] hban commented on #2394
I'd fine with anything to make this work :smile: We're passing `gssEncMode=require`, so maybe you don't need to roundtrip for that? Just go ahead with GSS encryption - if it's not supported then connection should fail anyway. If you want to go with extra properties, that's also fine IMO.

[2022-01-07 14:01] davecramer commented on #2394
Actually I would do it the opposite. The whole point of the round trip is to make sure the server can support it. So if I see gssEncMode=require I would attempt the round trip.

[2022-01-07 15:33] hban commented on #2394
Fine by me 👍

[2022-01-10 09:06] enexusde opened #2397 "Meta Info return wrong column default value"
**I'm submitting a ...**

- [x] bug report
- [ ] feature request

**Describe the issue**
A varchar-column having the default value "12" returns "'12'::character varing" instead of "12" from metadata

**Driver Version?**
Implementation-Version: 42.3.1
**Java Version?**
11.0.13.8.1

**OS Version?**
Win10x64

**PostgreSQL Version?**
Server:  "PostgreSQL 14.1, compiled by Visual C++ build 1914, 64-bit

[2022-01-10 12:40] sehrope opened #2399 "Simple query mode callable statement test broken in omni CI"
The Omni CI matrix build for simple query mode is broken: https://github.com/pgjdbc/pgjdbc/runs/4757699941?check_suite_focus=true#step:11:341

I think it's a change in the test, not the code itself that's broken though. The only recent change touching that part of the driver is #2386.

@marschall Can you check it out? If not I'll circle back to this later today or tomorrow.

You can reproduce it l

[2022-01-10 14:40] davecramer commented on #2397
I'm unable to duplicate this with PR #2400

[2022-01-10 14:56] enexusde commented on #2397
I reviewed the test and your test-code looks correct.

[2022-01-10 15:00] davecramer commented on #2397
So I'm wondering what you are doing differently ?

[2022-01-10 15:01] enexusde commented on #2397
I have no idea. I can debug, you like to join videomeet?

[2022-01-10 15:05] davecramer commented on #2397
How is the table created ?

[2022-01-10 15:06] enexusde commented on #2397
The table is created using a jdbc-connection using plain sql.

The column whom I test is created using jdbc-connection using plain sql.

[2022-01-10 15:22] enexusde commented on #2397
Currently I have a workaround, I call a second select

And inspecting the first row, second value what gives me " testdefault " (without ").

[2022-01-10 15:31] enexusde commented on #2397
Maybe metainfo returns correct default-value but ADD COLUMN does not store correct column default....

[2022-01-10 15:33] davecramer commented on #2397
So yes, this is an artifact of postgres.
If the default is a string ... ie '12' then you get '12'::character varying

So what is the issue with using this ?

[2022-01-10 15:46] enexusde commented on #2397
Ok, what do I have to change in the add-column-update-query?

[2022-01-10 15:57] enexusde commented on #2397
I am totally confused now. You wrote a test having this line:

in https://github.com/pgjdbc/pgjdbc/pull/2400/commits/2f12f672db3f929ffe7ee4142fc524d227f34e1f#diff-7547e726257c5cb97882d520bbf9c4bbd718ad4639f89a908e9a31e15502b1c3R568

How can that be true that you assert 12 instead of "'12'::character varying"?

[2022-01-10 16:21] davecramer commented on #2397
because the default was 12 not '12'

[2022-01-10 16:23] enexusde commented on #2397
Ah, I guess I get it now. So if i wish to have a default value of abc I have to execute this statement:

[2022-01-10 16:27] davecramer commented on #2397
So it would seem.
There are no real rules here. We simple return what is stored in the database

[2022-01-10 16:33] enexusde commented on #2397
I guess I need to drag my workaround forever in my code. Thank you for the support anyway.

[2022-01-10 16:33] #2397 closed

[2022-01-11 14:18] cavonchen opened #2403 "why auto commit in jdbc not working? How can I get it right in jdbc?"
**Describe the issue**
why auto commit in jdbc not working? How can I get it right in jdbc?

**Driver Version**
       groupId: org.postgresql
       artifactId: postgresql
       version: 42.2.24

**Java Version**
jdk1.8

**OS Version**
PostgreSQL  running on win10
**PostgreSQL Version**
PostgreSQL 13.5, compiled by Visual C++ build 1914, 64-bit

**OS Version 2**
CentOS Linux release 7.9.2009 (Co

[2022-01-11 14:37] cavonchen commented on #2403
I am so confused, @davecramer @vlsi @bmomjian could any masters helps~

[2022-01-11 14:40] davecramer commented on #2403
If you do one statement at a time does it work ?

[2022-01-11 14:46] vlsi commented on #2403
I'm inclined to close the issue as "not a problem"

@cavonchen , you execute a single command:

[code]

The driver does not split the command, and it does not add artificial commits within users' queries.

Then, if the thing fails, PostgreSQL discards the full transaction, including the first statement that inserts two values.

---

I strongly believe that if a driver adds an artificial commit ins

[2022-01-11 15:05] cavonchen commented on #2403
yes, It does.
My team is developing a web database client to several RDBMS including Mysql/Oracle/Sqlserver/PG. same sql ,same java code above ,only PG behaves differently.

[2022-01-11 15:09] davecramer commented on #2403
You do realize that even in psql these are 2 separate transactions, right ?

[2022-01-11 15:29] cavonchen commented on #2403
if it's in auto-commit mode ,I really expect driver can add commit automatically.
Besides if you try it in psql command line ,you can see my expected behavior:
[code]
If this works as designed and planned, why it's different between jdbc and psql?
What's more, auto commit is described as
'In the context of data management, autocommit is a mode of operation of a database connection. **Each individu

[2022-01-11 15:38] cavonchen commented on #2403
I do realize these are 2 separate transactions in auto commit mode.And if I set auto commit off，that‘s one transaction.
Codes above means 2 separate transactions .But in pg jdbc , nothing inserted,just like one transaction. that's weird...

[2022-01-11 15:39] davecramer commented on #2403
What do the logs on the backend say?

[2022-01-11 15:42] vlsi commented on #2403
You might add `loggerLevel=TRACE&loggerFile=pgjdbc-trace.log` and check what is sent over the wire.
I guess the compound command is sent as is.

[2022-01-11 15:44] davecramer commented on #2403
If you run this in SimpleQuery mode it should work. Otherwise the driver is using Extended protocol which would require us to parse the query into 2 separate statements which we don't do.

[2022-01-11 15:51] cavonchen commented on #2403
could you pls tell me how to add `loggerLevel=TRACE&loggerFile=pgjdbc-trace.log` ? adding this to check what is sent from jdbc?

[2022-01-11 15:52] davecramer commented on #2403
Either add it to the connection url or add those properties to the connection

[2022-01-11 15:53] vlsi commented on #2403
DB connection parameters:

[code]

[2022-01-11 15:53] jorsol commented on #2403
You can find more information at: https://jdbc.postgresql.org/documentation/head/logging.html

[2022-01-11 16:04] cavonchen commented on #2403
thanks to @vlsi @davecramer @jorsol ,pgjdbc-trace.log:
[code]

[2022-01-11 16:07] cavonchen commented on #2403
could you pls tell me log names on the backend ?

[2022-01-11 16:15] cavonchen commented on #2403
Can I say this is a gap between pgjdbc's auto commit implementation and auto commit standard?

[2022-01-11 16:16] cavonchen commented on #2403
yes, of course...that's what i do to produce the problem...

[2022-01-11 16:16] davecramer commented on #2403
Actually I take that statement back. It appears from the logs that two queries are being sent in 1 transaction and because the second one fails the first one does not succeed either.

[2022-01-11 16:27] vlsi commented on #2403
@cavonchen , would you please highlight a reference to "auto commit standard" that clarifies the meaning of `statement.executeQuery("queryA; queryB")`?

[2022-01-11 16:30] davecramer commented on #2403
So I am curious. What ResultSet is returned from this "statement". Do we return the result set from the first one or the result of the update (which is not a ResultSet) ?

[2022-01-11 16:41] LouDnl commented on #2359
Not sure if I am experiencing connection leakage, but I just updated our Clojure project to use version 42.3.1 and am experiencing part of a query being omitted on execution. We also have Hikari and use hugsql. Reverting back to version 42.2.18 that we previously used fixed the issue.
The part from the query being omitted is adding + interval '1 day' to a date.

[2022-01-11 16:43] davecramer commented on #2403
Unfortunately every client implements things differently.

Because psql does one thing, or ecpg does another does not mean that JDBC honours this.

Please stick to JDBC references.

Why do you want to do this anyway? What is the motivation.
It can easily be done with 2 executions *and* you can reliably get the result of your update if you use execute instead of executeQuery for the second statemen

[2022-01-11 16:45] cavonchen commented on #2403
coding like this will get All result either resultSet or update count in RDBMS including Mysql/Oracle/Sqlserver
[code]

[2022-01-11 16:54] cavonchen commented on #2403
because I am  developing a web database client using jdbc ,statements issue from jdbc  should result in same behavior from psql/plsql(oracle's command line interface) that users used to.

[2022-01-11 17:16] davecramer commented on #2403
@cavonchen So as you can see from the logs, we do send both statements to the server. How the server deals with them is up to the server. At this point we would have to inject "commit" into the stream between the two statements. I'm pretty sure this would break lots of behaviour.
The fact that psql works is more an artifact of how commands are handled. They do not use extended mode by default. The

[2022-01-11 17:52] cavonchen commented on #2403
I set url as :
`String url = "jdbc:postgresql://10.25.76.43:5432/mozi?loggerLevel=TRACE&loggerFile=pgjdbc-trace.log&preferQueryMode=simple";`
but no difference...
Thanks for all your replies and suggestions. I might need to get help from server developers.
Appreciate your help again!

[2022-01-11 17:56] vlsi commented on #2403
@cavonchen , would you please attach trace with `loggerLevel=TRACE&loggerFile=pgjdbc-trace.log&preferQueryMode=simple` ?

[2022-01-11 17:59] cavonchen commented on #2403
sorry,I should had given you this java docs , java.sql.connection setAutoCommit:

[code]
from https://docs.oracle.com/javase/8/docs/api/

[2022-01-11 18:04] vlsi commented on #2403
Ok. What is a statement?

I would say it is fair to assume that `Statement#executeQuery(String)` executes a **single** statement.

[2022-01-11 18:04] davecramer commented on #2403
Unfortunately databases are all not implemented the same way

For Select statements, the statement is complete when the associated result set is closed. For CallableStatement objects or for statements that return multiple results, the statement is complete when all of the associated result sets have been closed, and all update counts and output parameters have been retrieved.

This is not possible

[2022-01-11 18:05] cavonchen commented on #2403
sure

[code]

[2022-01-11 18:13] vlsi commented on #2403
Oh, nice. Thank you

Here's `preferQueryMode=simple`

[code]

In other words, the driver sends full string as a SINGLE command to the backend.
The backend interprets the command as a single unit, and it responds with both "insert 0 2" and "error".

See https://www.postgresql.org/docs/14/protocol-flow.html#id-1.10.5.7.4

---

I would argue that various modes of `preferQueryMode` should keep the sam

[2022-01-11 18:31] cavonchen commented on #2403
Thank you for explanation on QueryMode, As a user, I think keeping same semantics and same result is good.
I am very curious about how psql command line implements differently now...
Thanks again!

[2022-01-11 18:52] vlsi commented on #2403
My wild guess is:
1. `psql` does not support simple query mode
2. `psql` is inherently a shell-like environment, so it tries to make an illusion that `query1; query2; query3` is exactly the same as `execute query1, then execute query2, then execute query 3`, and I guess it leaves no way to send multiple queries in a single go.

So what we could do here is to add the relevant implementation notes t

[2022-01-12 01:46] cavonchen commented on #2403
A PR to implement aotu commit like what I think?
I'm very willing to do ,thought it might be difficult to me , I could try...

[2022-01-12 05:21] vlsi commented on #2403
I mean a PR that documents `autocommit` works on `java.sql.Statement` basis even for those cases when single `String sql` happen to include multiple queries separated with comma.

[2022-01-12 12:16] davecramer commented on #2359
@LouDnl  Don't suppose you have any more information that would help us narrow this down ?

[2022-01-12 12:23] LouDnl commented on #2359
@davecramer sure, what do you need? was contemplating opening an issue but got lost in all the needed information and then i saw this opened issue.

[2022-01-12 12:24] davecramer commented on #2359
whatever you can provide us. logs from the server? Something to replicate the issue. logs from your app. At the moment I'm confident there is a problem however I have no way of replicating it.

[2022-01-12 12:34] LouDnl commented on #2359
I will see what I can dig up. Problem is there is nothing in the logs. After setting query logging to all in postgresql I could see that the "+ interval '1 day'" part from our clojure app query was not there at all. After reverting back to the previous version we used it was there again.
Ill post anything I can find here.

[2022-01-12 13:22] davecramer commented on #2359
I'd be curious what your query was that was getting dropped

[2022-01-12 13:53] LouDnl commented on #2359
@davecramer our queries get executed by hugsql, see the query below.
The clojure dependencies we use for database connections:
[code]

The hugsql query:
[code]

Here is the query from our log on 42.3.1
[code]

And here is the same query on 42.2.18
[code]

[2022-01-12 13:56] davecramer commented on #2359
Thanks, that gives me something to do... I'll let you know how that works out

[2022-01-12 14:00] korolan opened #2404 "Check JDBC driver version in PG view"
How can receive the version of JDBC driver to the database ?
Is it possible to provide the ability to get the version of the JDBC driver used on the client side directly from a view in PostgreSQL?

- [ ] bug report
- [x] feature request

**Driver Version?**
any

[2022-01-12 14:06] cavonchen commented on #2403
Not really...
I prefer mysql/sqlserver/oracle jdbc implementation ...

[2022-01-12 14:13] vlsi commented on #2403
No problem.

`com.oracle.database.jdbc:ojdbc8-production:19.8.0.0` + Oracle 12.1:

[code]

Result:

[code]

[2022-01-12 14:13] davecramer commented on #2403
I'm curious how you deal with errors. How do you know which statement worked and which one didn't ?

[2022-01-12 14:26] davecramer commented on #2359
I guess you don't see the server logs ?

[2022-01-12 15:46] LouDnl commented on #2359
Not really, I dont use maven.

What do you mean? I have full access, what do you need?

[2022-01-12 15:51] davecramer commented on #2359
I'd like to see what the server sees when these are executed.
One more thing. Do you know if your app is using prepared statements or hugsql is replacing the parameters with text ?
even a minimal app. however it is done in clojure would be helpful

[2022-01-12 15:52] jorsol commented on #2404
The short answer is, no.

What will be the use for that? You can get the version of the JDBC driver using [DatabaseMetaData.getDriverVersion()](https://docs.oracle.com/en/java/javase/17/docs/api/java.sql/java/sql/DatabaseMetaData.html#getDriverVersion()).

If you need the driver version to be reflected in a view in PostgreSQL (maybe to consume that info in another application like psql) the hack a

[2022-01-12 15:58] korolan commented on #2404
Hi !
This is a useful feature for DBAs. On the go, through a select to VIEW, analyze which application is running with which version of the JDBC driver. Speeds up diagnostics, troubleshooting and problem analysis.

[2022-01-12 16:08] LouDnl commented on #2359
The entries from our log are from the postgresql logfile after setting log_statement to all. I have not found any other logs. I get no error messages what so ever.

[2022-01-12 16:09] davecramer commented on #2359
OK, thanks, I'll try to create a clojure app when I have time. I'm curious if it is using prepared statements or not

[2022-01-12 16:53] LouDnl commented on #2359
Yes it does, the hugsql query that I posted earlier is one of many prepared statements. The variables get filled by hugsql and are fed through clojure.

[2022-01-14 14:06] LouDnl commented on #2359
Ill see what I can do for you

[2022-01-14 16:13] LouDnl commented on #2359
Well I wrote a test program, but that works like it should on the new version lol

[2022-01-14 16:15] davecramer commented on #2359
@LouDnl don't ya just love coding :)

[2022-01-14 16:19] davecramer commented on #2359
thx. It might be useful as a reference implementation anyway.

[2022-01-14 16:20] LouDnl commented on #2359
There must be something that blocks the `+ interval '1 day'`

[2022-01-14 16:21] davecramer commented on #2359
that's very strange as we really don't muck with the statement. We don't even parse it completely. Nowhere in our code would remove that particular thing

[2022-01-14 16:54] LouDnl commented on #2359
Our servers run PostgreSQL 10 on Ubuntu 18

[2022-01-14 17:11] vlsi commented on #2359
@LouDnl , just in case, we have a test app for Scala: https://github.com/pgjdbc/pgjdbc/tree/master/test-anorm-sbt, and it would be great if you could add something like `pgjdbc/test-clojure-...` :)

The way we test it is we publish `pgjdbc` to the maven local repo, and launch the test: https://github.com/pgjdbc/pgjdbc/blob/f61fbfe7b72ccf2ca0ac2e2c366230fdb93260e5/.travis/travis_build.sh#L76-L82

[2022-01-14 17:16] LouDnl commented on #2359
Right good to know. However I dont have java experience. I just mocked up a test app for @davecramer

[2022-01-14 17:21] vlsi commented on #2359
I don't ask you for Java.
I just suggest it is good to have Clojure test app right in pgjdbc repository.

[2022-01-14 17:28] LouDnl commented on #2359
Ill have a look at the links later

[2022-01-14 17:29] vlsi commented on #2359
No rush. Thank you anyway!

[2022-01-16 18:34] LouDnl commented on #2359
Well, don't ask me how, but I updated the pgjdbc version in our project to 42.3.1 again and now everything works... shoot me in the head

[2022-01-16 18:59] davecramer commented on #2359
@LouDnl something else is/was the cause. It did seem rather improbable that the driver could do that

[2022-01-17 07:46] LouDnl commented on #2359
@davecramer funny thing is that nothing else changed

[2022-01-17 13:57] davecramer commented on #2404
Well this would entail the driver writing to the database. Something we don't do. Now I suppose we could put our version in the APPLICATION_NAME

[2022-01-17 13:58] vlsi commented on #2404
Well, we could still pass the metadata in the startup packet be it `application_name` or something else.

[2022-01-17 14:04] jorsol commented on #2404
Yes, setting **APPLICATION_NAME** to  `DriverInfo.DRIVER_FULL_NAME` makes sense to me.

https://github.com/pgjdbc/pgjdbc/blob/c12a76f6c42ba3c41d6f4472f3a47d645e9dba33/pgjdbc/src/main/java/org/postgresql/PGProperty.java#L69-L75

Anyway, this won't be bulletproof at all, since the application can overwrite the application_name any time, it's just a default but having the version can be a good defaul

[2022-01-17 14:12] vlsi commented on #2404
There's 64 characters limit though.

On the other hand, we can choose to always append the driver version if it fits under 64 chars (modulo unicode emojis :) )

[2022-01-17 14:18] korolan commented on #2404
I would say it's "under the hood"

[2022-01-17 14:25] vlsi commented on #2404
That means we could accept a PR for a new connection property like `append_driver_version_to_application_name` with values of `off` | `only_at_startup` | `append_always` (default `only_at_startup` for being conservative). The value of `off` could be helpful if exposing the version becomes a security issue.

Anybody volunteers to create such a PR?

[2022-01-17 14:26] davecramer commented on #2404
What does this mean ?

[2022-01-17 18:58] korolan commented on #2404
That by default the version of the JDBC driver will be passed transparently to the pg_stat_activity view (by example) the first time the session is initialized. Without additional settings in the application or writing some code.

[2022-01-17 21:36] LouDnl commented on #2359
Im a developer. I know how valuable good feedback is. @davecramer
Still dont understand why it didnt work and then it did 🤣

[2022-01-18 03:52] hailiangyuan opened #2406 "number of bytes should be at-least 8 after few times normal"
**Describe the issue**
A simple query case,
The first few times were fine, and then I encountered this error

**Driver Version?**
43.3.1
**Java Version?**
8
**Expected behaviour**
It should be the same as the other times
**Logs**
Caused by: java.lang.IllegalArgumentException: number of bytes should be at-least 8
	at org.postgresql.util.ByteConverter.numeric(ByteConverter.java:127)
	at org.postgres

[2022-01-18 10:07] jorsol commented on #2406
Hi, could you provide more information or even a small reproducer?

[2022-01-19 15:16] gustavovnicius opened #2411 "Wrong null check on PGobject"
https://github.com/pgjdbc/pgjdbc/blob/f81244faf90c3203b1b50cbfa0f9f3ca8c923c0c/pgjdbc/src/main/java/org/postgresql/util/PGobject.java#L75..L77

Wrong null check for `PGobject`. It should be `getValue() == null` or `isNull(value)`

[2022-01-19 15:21] davecramer opened #2412 "isNull returns wrong value"
https://github.com/pgjdbc/pgjdbc/blob/f81244faf90c3203b1b50cbfa0f9f3ca8c923c0c/pgjdbc/src/main/java/org/postgresql/util/PGobject.java#L75..L77

[2022-01-19 15:21] #2412 closed

[2022-01-19 15:22] davecramer commented on #2411
Thanks, can't believe that is in there.

[2022-01-19 19:23] davecramer commented on #2384
Easy enough to find out

[2022-01-19 19:54] davecramer commented on #2406
Closing lack of feedback

[2022-01-19 19:54] #2406 closed

[2022-01-19 20:03] davecramer commented on #2411
fixed with PR #2414

[2022-01-19 20:03] #2411 closed

[2022-01-19 20:05] davecramer commented on #2403
Incompatible with postgres

[2022-01-19 20:05] #2403 closed

[2022-01-19 20:09] davecramer commented on #2390
closing due to lack of information, please reopen if you have more to add

[2022-01-19 20:09] #2390 closed

[2022-01-19 20:10] davecramer commented on #2384
closed with PR #2415

[2022-01-19 20:10] #2384 closed

[2022-01-19 20:30] davecramer commented on #2342
I'm going to close this unless there is a reason to keep it open ?

[2022-01-19 20:32] davecramer commented on #2275
closing lack of response

[2022-01-19 20:32] #2275 closed

[2022-01-19 20:32] davecramer commented on #2235
closed with PR #2352

[2022-01-19 20:32] #2235 closed

[2022-01-19 21:44] Colonel-Rogue commented on #2342
Yea - we established a workaround. If someone else comes across this issue in future it may still have benefit to implement.

[2022-01-19 21:44] #2342 closed

[2022-01-20 17:23] IlyaHalsky opened #2416 "setArray, createArrayOf SQLData"
**Describe the issue**
Unexpected behavior for createArrayOf, setArray on Array<SQLData>

**Driver Version?**
42.3.1
**Java Version?**
11
**PostgreSQL Version?**
12.9
**To Reproduce**
Steps to reproduce the behaviour:
In database:
 * create type ```create type test_t as(a varchar(180), b varchar(180))```
 * table ```create table test(a varchar(180), b varchar(180))```

In Scala:
 * create class
[c

[2022-01-20 17:29] davecramer commented on #2416
please rewrite in java that would help

[2022-01-20 17:39] IlyaHalsky commented on #2416
@davecramer tested this java version
[code]
Fails with ```ERROR: malformed record literal: "TestNullsFirst$Test@20e2cbe0"```

[2022-01-20 17:42] davecramer commented on #2416
Pretty sure we don't support SQLData but I'll have a look

[2022-01-20 17:49] IlyaHalsky commented on #2416
@davecramer if its true, may be you have suggestion how achieve what I'm trying to do?
Equal SQL for reference:
[code]

[2022-01-20 17:53] davecramer commented on #2416
the pgjdbc-ng project has support for SQLData

https://impossibl.github.io/pgjdbc-ng/docs/current/user-guide/#_java_sql_sqldata

[2022-01-20 17:54] IlyaHalsky commented on #2416
This mean no support in pgjdbc?

[2022-01-20 18:03] davecramer commented on #2416
We do not support SQLData. I'm sure there is a way to insert that data using the pgjdbc driver. Just not with SQLData

[2022-01-20 18:06] IlyaHalsky commented on #2416
I thought about writing custom `.toString` for class Test = "('" + a + "','" + b + "')", but it seems unreliable.

[2022-01-20 18:18] davecramer commented on #2416
I'll spend some time on it.

[2022-01-20 18:18] IlyaHalsky commented on #2416
Another workaround is to call
[code]
and in Java equivalent
[code]
This method seems better, but still weird.

[2022-01-20 21:29] rbygrave commented on #2416
Hopefully to add to this.

My guess is just to make the test case easy. JDBC batch inserts would be a fine alternative for this particular test/example using `insert` so that is why I suspect this example is just to make an easier test case.

**_However_**, consider the case of a concatenated key. Lets say we have a 3 column concatenated key (a,b,c) and we have a UDT that represents that. I think

[2022-01-20 21:35] davecramer commented on #2416
@rbygrave thanks, I suspect this might be the case as well. I'm really trying to understand the use case

[2022-01-20 22:32] IlyaHalsky commented on #2416
@rbygrave pretty much got it. I'm using UDT because inserted type doesn't always fully match target table in my case (sorry if it was confusing in the example). Batch inserts solve part of my problem (thanks for the tip), but I'm dealing 50k inserts at the time, not sure if batch inserts are better than binding one array. Second part is indeed the ability to use `= any(ARRAY)`.

[2022-01-20 22:36] IlyaHalsky commented on #2416
Just to recap my use cases (English is my second language, sorry if I confuse you at times):
-  Mass inserts around 10-50k at time
- Mass deletes from tables with complex keys (`delete from a_table where (master, master_class) in (select id master, class master_class from unnest(?))`
- Selects by complex key (`select id, class from unnest(?) arg where not exists(select 1 from b_table where b_table